@model VerteBienV1.Models.SUSCRIPCION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SUSCRIPCION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_suscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_suscripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_suscripcion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
