@model IEnumerable<VerteBienV1.Models.SUSCRIPCION>

@{
    ViewBag.Title = "Index";
}


<center>
    <img src="~/Imagenes/Verte Bien Transparente 2.png" width="128" height="128" style="margin-top:2%" />
    <h4>Index Suscripción</h4>
    <hr class="w-50" />
</center>
<br />
<div class="container-fluid d-flex">
    <div class="row my-2 gx-2 justify-content-center">

        @foreach (var item in Model)
        {

            <div class="card col-12 col-md-6 col-xl-4 m-1" style="max-width:400px">
                <div class="card-header">
                    <dd class="">@Html.DisplayFor(modelItem => item.AspNetUsers.Email)</dd>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-7">Estado:</dt>
                        <dd class="col-sm-5">@Html.DisplayFor(modelItem => item.estado)</dd>


                        <dt class="col-sm-7">Fecha de Suscripción:</dt>
                        <dd class="col-sm-5 fecha_suscripcion">@Html.DisplayFor(modelItem => item.fecha_suscripcion)</dd>
                        <dt class="col-sm-6">Comentario:</dt>
                        <dd class="col-sm-6"></dd>
                        <p class=""> @Html.DisplayFor(modelItem => item.comentario)</p>

                    </dl>
                </div>
                <div class="card-footer text-center">
                    @Html.ActionLink("Editar", "Edit", new { id = item.id_suscripcion }, new { @class = "btn text-white", @style = "background-color:#DBA312" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.id_suscripcion }, new { @class = "btn btn-outline-warning ", id = "volbtn" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id_suscripcion }, new { @class = "btn btn-outline-warning ", id = "volbtn" })

                </div>
            </div>




        }

    </div>
</div>
<center>
    @Html.ActionLink("Crear Suscripción", "Create", null, htmlAttributes: new { @class = "btn text-white my-2", @style = "background-color:#DBA312" })
</center>
<script>
    // Espera a que el DOM esté listo
    $(document).ready(function () {
        // Selecciona el elemento y obtén su texto
        var fechaSuscripcion = $(".fecha_suscripcion").text();

        // Verifica si la fecha tiene al menos 11 caracteres
        if (fechaSuscripcion.length >= 11) {
            // Obtiene solo los primeros 11 caracteres y establece el nuevo texto
            $(".fecha_suscripcion").text(fechaSuscripcion.substring(0, 11));
        }
    });
</script>