@model VerteBienV1.Models.SERVICIOS

@{
    ViewBag.Title = "Crear un nuevo servicio";
}

@Html.AntiForgeryToken()
<form action="/SERVICIOS/Create" enctype="multipart/form-data" method="post">
    @Html.AntiForgeryToken()

    <center>
        <img src="~/Imagenes/verte bien negro.png" width="128" height="128" style="margin-top:2%" />
        <h4>Registrar nuevo Servicio</h4>
        <hr class="w-50" />
    </center><br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
            @Html.LabelFor(model => model.id_usuario, "id_usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_usuario", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_usuario, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="container">
        <div class="card h-100 shadow-lg">
            <div class="card-body" style="margin-left:5%">
                <div class="form-row">
                    @*<div class="col-md-4">*@
                    <div class="form-group col-md-6">
                        @Html.Label("Nombre del servicio", htmlAttributes: new { @class = "control-label col-md-10" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.nombre_servicio, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                            @Html.ValidationMessageFor(model => model.nombre_servicio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("Categoría del Servicio", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("id_categoria", null, htmlAttributes: new { @class = "form-control col-md-10" })
                            @Html.ValidationMessageFor(model => model.id_categoria, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*</div>*@

                    @*<div class="col-md-4">*@
                    <div class="form-group col-md-6">
                        @Html.Label("Precio del Servicio", htmlAttributes: new { @class = "control-label col-md-10" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.precio_servicio, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                            @Html.ValidationMessageFor(model => model.precio_servicio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("Duración del Servicio", htmlAttributes: new { @class = "control-label col-md-8" })
                        <div class="col-md-12">
                            <select name="duracion" id="cars" class="form-control col-md-10">
                                <option value="0,50" step="any">30 Minutos</option>
                                <option value="1">1 Hora</option>
                                <option value="1,50">1 Hora y 30 Minutos</option>
                                <option value="2">2 Horas</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.tiempo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @Html.Label("Descripción", htmlAttributes: new { @class = "control-label col-md-8" })
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.descripcion, new { @class = "form-control col-md-11", @rows = "3" })
                            @*<textarea class="form-control col-md-11" id="exampleFormControlTextarea1" rows="3"></textarea>*@
                            @*@Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*</div>*@

                    @*<div class="col-md-4">*@
                    <div class="form-group col-md-12 col-sm-12">
                        @Html.Label("Imagenes del Servicio", htmlAttributes: new { @class = "control-label col-md-10 col-sm-12" })
                        <div class="col-md-12 col-sm-12">
                            @if (User.IsInRole("expres"))
                            {
                                <input type="file" name="img1" accept=".png, .jpg, .jpeg" class="btn col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" required />
                                <input type="file" name="img2" accept=".png, .jpg, .jpeg" class="btn col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                <input type="file" name="img3" accept=".png, .jpg, .jpeg" class="btn col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                            }
                            @if (User.IsInRole("preferencial"))
                            {
                                <input type="file" name="img1" accept=".png, .jpg, .jpeg" class="btn col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" required />
                                <input type="file" name="img2" accept=".png, .jpg, .jpeg" class="btn col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                <input type="file" name="img3" accept=".png, .jpg, .jpeg" class="btn col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                <input type="file" name="img4" accept=".png, .jpg, .jpeg" class="btn col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                <input type="file" name="img5" accept=".png, .jpg, .jpeg" class="btn col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                <input type="file" name="img6" accept=".png, .jpg, .jpeg" class="btn col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                            }
                            @if (User.IsInRole("vip"))
                            {
                                <input type="file" name="img1" id="archivo" accept=".png, .jpg, .jpeg" class="btn mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" required />
                                <input type="file" name="img2" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" required />
                                <input type="file" name="img3" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                <input type="file" name="img4" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                <input type="file" name="img5" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                <input type="file" name="img6" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                <input type="file" name="img7" accept=".png, .jpg, .jpeg" class="btn col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                <input type="file" name="img8" accept=".png, .jpg, .jpeg" class="btn col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                <input type="file" name="img9" accept=".png, .jpg, .jpeg" class="btn col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                            }
                            @*@Html.EditorFor(model => model.imagenes, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.imagenes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*</div>*@

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                </div>

                <center>
                    <div class="form-group mt-2" >
                        <div class="col-md-12">
                            @Html.ActionLink("Volver", "misServicios", null, htmlAttributes: new { @class = "btn text-white", @style = "background-color:#DBA312" })
                            <button type="submit" class="btn text-white" style="background-color:#DBA312; ">Registrar Servicio</button>
                        </div>
                    </div>
                </center>

            </div>
        </div>
    </div>

</form>

<br />

