@model VerteBienV1.Models.SERVICIOS

@{
    ViewBag.Title = "Crear un nuevo servicio";
}

@Html.AntiForgeryToken()
<form action="/SERVICIOS/Create" enctype="multipart/form-data" method="post" id="formulario">
    @Html.AntiForgeryToken()

    <center>
        <img src="~/Imagenes/Verte Bien Transparente 2.png" width="128" height="128" style="margin-top:2%" />
        <h4>Registrar nuevo Servicio</h4>
        <hr class="w-50" />
    </center><br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
            @Html.LabelFor(model => model.id_usuario, "id_usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_usuario", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_usuario, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="container">
        <div class="card h-100 shadow-lg mb-5 p-2">
            <div class="card-body" style="margin-left:5%">
                <div class="form-row ">

                    <div class="row">
                        <div class="form-group col-md-6 formulario__grupo" id="grupo__nombre_servicio">
                            @Html.Label("Nombre del servicio", htmlAttributes: new { @class = "control-label " })
                            <div class="col-md-10  formulario__grupo-input">
                                <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                @Html.EditorFor(model => model.nombre_servicio, new { htmlAttributes = new { @class = "form-control control-form" } })
                                @Html.ValidationMessageFor(model => model.nombre_servicio, "", new { @class = "text-danger" })
                            </div>
                            <p class="formulario__input-error">El nombre del srevicio tiene que ser letras espacion y pueden llevar acento. </p>
                        </div>
                        <div class="form-group col-md-6 my-2">
                            @Html.Label("Categoría del Servicio", htmlAttributes: new { @class = "control-label mx-md-5" })
                            <div class="col-md-10 mx-md-5">
                                @Html.DropDownList("id_categoria", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.id_categoria, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*</div>*@ 

                        @*<div class="col-md-4">*@
                        <div class="form-group col-md-6 my-md-3 formulario__grupo" id="grupo__precio_servicio">
                            @Html.Label("Precio del Servicio", htmlAttributes: new { @class = "control-label " })
                            <div class="col-md-10 formulario__grupo-input">
                                <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                @Html.EditorFor(model => model.precio_servicio, new { htmlAttributes = new { @class = "form-control control-form" } })
                                @Html.ValidationMessageFor(model => model.precio_servicio, "", new { @class = "text-danger" })
                            </div>
                            <p class="formulario__input-error">Por favor, introducir un precio valido </p>
                        </div>
                        <div class="form-group col-md-6 my-md-3 my-2">
                            @Html.Label("Duración del Servicio", htmlAttributes: new { @class = "control-label mx-md-5" })
                            <div class="col-md-10 mx-md-5">
                                <select name="duracion" id="duracion" class="form-control col-md-10">
                                    <option value="0,5" step="any">30 Minutos</option>
                                    <option value="1">1 Hora</option>
                                    <option value="1.5">1 Hora y 30 Minutos</option>
                                    <option value="2">2 Horas</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.tiempo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-12 formulario__grupo" id="grupo__descripcion">
                            @Html.Label("Descripción", htmlAttributes: new { @class = " col-md-8" })
                            <div class="col-md-12  formulario__grupo-input">
                                <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control  control-form ", id = "descripcion" } })
                                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                                @*@Html.TextAreaFor(model => model.descripcion, new { @class = "form-control  control-form", @rows = "3", id = "descripcion" })*@
                                @*<textarea class="form-control col-md-11" id="exampleFormControlTextarea1" rows="3"></textarea>*@
                            </div>
                            <p class="formulario__input-error">Por favor, introduce una descripción válida de 10 a 250 caracteres y evitando espacios innecesarios. </p>
                        </div>

                    </div>

                    @*<div class="col-md-4">*@
                    <div class="form-group text-center col-md-12 col-sm-12 my-4">
                        @Html.Label("Imagenes del servicio", htmlAttributes: new { @class = "control-label col-md-10 col-sm-12 my-4 h2 text-center" })
                        <div class="col-md-12 col-sm-12">
                            <div class="row ">
                                @if (User.IsInRole("expres"))
                                {

                                    <label for="img1" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img1"> Subir imagen</span> </label>
                                    <label for="img2" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img2"> Subir imagen</span> </label>
                                    <label for="img3" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img3"> Subir imagen</span> </label>

                                    <input type="file" name="img1" id="img1" accept=".png, .jpg, .jpeg" class="btn mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                    <input type="file" name="img2" id="img2" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                    <input type="file" name="img3" id="img3" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                }
                            </div>
                            <div class="row ">
                                @if (User.IsInRole("preferencial"))
                                {
                                    <label for="img1" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img1"> Subir imagen</span> </label>
                                    <label for="img2" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img2"> Subir imagen</span> </label>
                                    <label for="img3" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img3"> Subir imagen</span> </label>
                                    <label for="img4" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img4"> Subir imagen</span> </label>
                                    <label for="img5" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img5"> Subir imagen</span> </label>
                                    <label for="img6" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img6"> Subir imagen</span> </label>


                                    <input type="file" name="img1" id="img1" accept=".png, .jpg, .jpeg" class="btn mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                    <input type="file" name="img2" id="img2" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                    <input type="file" name="img3" id="img3" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                    <input type="file" name="img4" id="img4" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                    <input type="file" name="img5" id="img5" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                    <input type="file" name="img6" id="img6" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                }
                            </div>
                            <div class="row ">
                                @if (User.IsInRole("vip"))

                                {



                                    <label for="img1" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img1"> Subir imagen</span> </label>
                                    <label for="img2" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img2"> Subir imagen</span> </label>
                                    <label for="img3" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img3"> Subir imagen</span> </label>
                                    <label for="img4" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img4"> Subir imagen</span> </label>
                                    <label for="img5" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img5"> Subir imagen</span> </label>
                                    <label for="img6" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img6"> Subir imagen</span> </label>
                                    <label for="img7" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img7"> Subir imagen</span> </label>
                                    <label for="img8" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img8"> Subir imagen</span> </label>
                                    <label for="img9" class="cfile col-xl-4  col-12 col-md-4 m-1  imgsubir">   <i class="far fa-upload"></i>&nbsp;  <span class="img9"> Subir imagen</span> </label>


                                    <input type="file" name="img1" id="img1" accept=".png, .jpg, .jpeg" class="btn mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                    <input type="file" name="img2" id="img2" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                    <input type="file" name="img3" id="img3" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                    <input type="file" name="img4" id="img4" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                    <input type="file" name="img5" id="img5" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                    <input type="file" name="img6" id="img6" accept=".png, .jpg, .jpeg" class="btn  mx-2 col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                    <input type="file" name="img7" id="img7" accept=".png, .jpg, .jpeg" class="btn col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                    <input type="file" name="img8" id="img8" accept=".png, .jpg, .jpeg" class="btn col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />
                                    <input type="file" name="img9" id="img9" accept=".png, .jpg, .jpeg" class="btn col-md-3 col-sm-12" style="background-color:#EBE3E2; margin-top:1%" />

                                }
                            </div>

                            @*@Html.EditorFor(model => model.imagenes, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.imagenes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*</div>*@

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                </div>

                <center>
                    <div class="form-group my-3">
                        <div class="col-md-12">
                            @Html.ActionLink("Volver", "misServicios", null, htmlAttributes: new { @class = "btn  btn-outline-warning  ", @style = "", id = "volbtn" })
                            <button type="submit" class="btn text-white " style="background-color:#DBA312; ">Registrar Servicio</button>
                        </div>
                    </div>
                </center>

            </div>
        </div>
    </div>

</form>

<br />

<div class="modal" tabindex="-1" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Verificar formulario
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="p-modal">Por favor verificar que los datos del formulario esten correcto.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modalImg">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Verificar formulario
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="p-modal-img">Por favor verificar que los datos del formulario esten correcto.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function convertir() {
            const selectedValue = $("#duracion").val();
            const convertedValue = selectedValue.includes(",") ? selectedValue.replace(",", ".") : selectedValue.replace(".", ",");

            $("#duracion").find("option[value='" + selectedValue + "']").val(convertedValue);
        }

        // Ejecutar la función al cargar la página
        convertir();

        //// Manejar el evento de cambio
        //$("#duracion").change(function () {
        //    convertir();
        //});
    });
</script>