@model VerteBienV1.Models.SERVICIOS
@{
    ViewBag.Title = "Details";
}




<div class="container mt-5">

    @*Titulo de la pagina con el nombredel servicio*@
    <div class="text-left">
        <h1 class=" dtext container">@Html.DisplayFor(model => model.AspNetUsers.nombre_peluqueria)</h1>
        <span>@Html.ActionLink("Ver peluqueria", "Details", "AspNetUsers", new { id = ViewBag.id }, htmlAttributes: new { @class = "btn btn-outline-warning btn-sm mx-1 rounded ", id = "volbtn" })</span>
    </div>
    @*FIN Titulo de la pagina con el nombredel servicio*@



    <div class="" id="dproduct">
        <!-- product -->
        <div class="product-content product-wrap clearfix product-deatil">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    @*<div class="product-image">
            </div>*@
                    @{
                        List<String> _list = ViewData["imagenes_s"] as List<String>;
                    }
                    <div class="carousel">
                        <div class="carousel__contenedor">
                            <button aria-label="Anterior" class="carousel__anterior">
                                <i class="fas fa-chevron-left"></i>
                            </button>

                            <div class="carousel__lista">
                                @if (_list != null)
                                {
                                    foreach (var item in _list)
                                    {
                                        <div class="carousel__elemento">
                                            <a href="~/imagenes_servicios/@item" data-lightbox="Sgaleria" style="width:100%; height:100%;">
                                                <img src="~/imagenes_servicios/@item" alt="" style="height: 350px; width:350px;">
                                            </a>
                                        </div>
                                    }
                                }
                            </div>
                            <button aria-label="Siguiente" class="carousel__siguiente">
                                <i class="fas fa-chevron-right"></i>
                            </button>

                            <div role="tablist" class="carousel__indicadores"></div>
                        </div>
                    </div>

                </div>
                <div class="mx-md-3 col-md-6 col-md-offset-1 col-sm-12">
                    <h2 class="name">
                        @Html.DisplayFor(model => model.nombre_servicio)
                        <small>por  <a href="" class="text-black-50 description-nombre">@Html.DisplayFor(model => model.AspNetUsers.nombre_peluqueria) </a></small>
                        <span href="javascript:void(0);" id="" class="starrr" data-rating="@ViewBag.promedio"></span>
                        <span class="fa fa-2x"><h5 id="cantidad-votos" class="text-muted nr"></h5></span>
                        <a href="javascript:void(0);" class="text-black-50" id="reviews-clientes" style="text-decoration:none;"> reviews de los clientes.</a>
                        <a href="#" class="" id="miDiv" value="" data-promedio="@ViewBag.promedio" style="display:none;"></a>
                    </h2>

                    <hr />
                    <h3 class="price-container">

                        $@Html.DisplayFor(model => model.precio_servicio)
                        <small> <b>*Impuestos incluido</b></small>
                    </h3>
                    <hr />
                    <div class="description description-tabs">

                        <ul id="myTab" class="nav nav-pills">
                            <li class="active opcion-detalles"><a href="#more-information" data-toggle="tab" class="no-margin">Descripción</a></li>
                            @* <li class="opcion-detalles"><a href="#specifications" data-toggle="tab">Specifications</a></li>*@
                            <li class="opcion-detalles"><a href="#reviews" data-toggle="tab">Comentarios</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="more-information">
                                <br />
                                <strong style="padding: 10px 10px;">Sobre el servicio</strong>
                                <p id="pdetalles" data-rating="@Html.DisplayFor(model => model.descripcion)">
                                    @Html.DisplayFor(model => model.descripcion)
                                </p>
                            </div>
                           


                      
                            <div class="tab-pane fade" id="reviews">

                                <div class="comentarios rounded mt-4 dboxx invisible-scrollbar">
                                    @foreach (var item in Model.PUNTUACION_SERVICIOS)
                                    {
                                        <div class="card p-3 my-2" id="comentarios-conteo">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="user d-flex flex-row align-items-center"> <i class="fas fa-user user-img rounded-circle mr-2" width="30"></i> <span><small class="font-weight-bold " style="color: #DBA312;"> @item.AspNetUsers.nombre </small> <small class="font-weight-bold"> @item.comentario</small></span> </div> <small></small>
                                            </div>
                                            <div class="action d-flex justify-content-between mt-2 align-items-center">
                                                <div class="reply px-4"> <small>@item.fecha_creacion</small>  </div>
                                                <div class="icons align-items-center"> <i class="fa fa-star text-warning"></i> <span class="text-muted nr">@item.estrellas </span></div>
                                            </div>
                                        </div>


                                    }

                                    <br />
                                </div>

                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row col-12 text-center my-3">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                 
                                    <span>@Html.ActionLink("Agendar Cita", "Create", "CITAS", new { idServicio = ViewBag.idservicio }, htmlAttributes: new { @class = "btn btn-outline-warning btn-sm mx-1 rounded ", id = "volbtn" })</span>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- end product -->
    </div>
</div>

<div class="container my-4">
    <div class="row">
        <div class="col-md-5">

            <!--<div class="project-info-box mt-0">
                <h5 style="padding:0px 10px 10px ">@Html.DisplayFor(model => model.AspNetUsers.nombre_peluqueria)</h5>
                <p class="mb-0">Vivamus pellentesque, felis in aliquam ullamcorper, lorem tortor porttitor erat, hendrerit porta nunc tellus eu lectus. Ut vel imperdiet est. Pellentesque condimentum, dui et blandit laoreet, quam nisi tincidunt tortor.</p>
            </div>-->
            <!-- / project-info-box -->

            <div class="project-info-box mt-0 mb-0">
                <p class="mb-0">
                    <span class="fw-bold mr-10 va-middle hide-mobile">Horario:</span>
                    @foreach (var item in Model.AspNetUsers.HORARIOS)
                    {
                    <p class="">
                        <i class="fas fa-circle"></i>
                        <Span id="l-v" data-semanaini="@item.semanales_inicio" data-semanafin="@item.semanales_cierre" class=""></Span><br />
                        <i class="fas fa-circle"></i>
                        <Span id="sabado" data-findesemanaini="@item.sabados_inicio" data-findesemanafin="@item.sabados_cierre" class=""></Span> <br />
                        <i class="fas fa-circle"></i>
                        <Span id="domingo" data-domingoini="@item.domingo_inicio" data-domingofin="@item.domingo_cierre" class=""></Span>
                    </p>


                    <span id="nombre-negocio" data-nombre="@item.AspNetUsers.nombre_peluqueria"></span>
                    <span id="latitud" data-latitud=" @item.AspNetUsers.latitud"></span>
                    <span id="longitud" data-longitud=" @item.AspNetUsers.longitud"></span>


                }

                    </p>
                </div><!-- / project-info-box -->
                <div class="project-info-box">
                    <p id="tiempo" data-tiempo=" @Html.DisplayFor(model => model.tiempo)">
                    </p>
                    <p><b>@Html.LabelFor(model => model.estado, "Estado"): </b> @Html.DisplayFor(model => model.estado)</p>
                    <p><b>Capacidad: </b>@Html.DisplayFor(model => model.AspNetUsers.capacidad_simultanea_)</p>
                    <p><b>Categoria:</b> @Html.DisplayFor(model => model.CATEGORIAS_SERVICIOS.nombre_categoria)</p>
                    <p><b> @Html.DisplayNameFor(model => model.AspNetUsers.Email):</b>@Html.DisplayFor(model => model.AspNetUsers.Email)</p>
                    <p class="mb-0"><b>Telefono: </b>@Html.DisplayFor(model => model.AspNetUsers.telefono)</p>
                </div><!-- / project-info-box -->


            </div><!-- / column MAPA -->

            <div class="col-md-7">
                <div class="mx-md-3" style="max-width:650px; height:350px;">
                    <div id="map" style="max-width:650px; height:350px;"></div>
                    <div id="map" class="rounded" alt="Mapa" style="max-width:650px; height:350px;"></div>
                </div>
                <!-- / project-info-box -->
                <div class="project-info-box mx-md-3" id="info-map">
                    <p><b>Dirección: </b>@Html.DisplayFor(model => model.AspNetUsers.sector),
                    #@Html.DisplayFor(model => model.AspNetUsers.calle),@Html.DisplayFor(model => model.AspNetUsers.ciudad)</p>




                </div><!-- FIN / project-info-box -->
            </div><!-- /FIN column MAPA -->
        </div>


    </div>


