@model IEnumerable<VerteBienV1.Models.SERVICIOS>

@{
    ViewBag.Title = "Index";
}


<style>
    .carousel-item {
        width: 100% !important;
    }

    .card {
        max-width: 100%;
        display: flex;
        flex-direction: column; /* Orientación vertical */
        height: 100%;
    }

    .contenedor-imagen {
        flex: 1;
    }

    .card-body {
        flex: 1;
        display: flex;
        flex-direction: column; /* Orientación vertical */
        justify-content: space-between; /* Distribuir elementos verticalmente */
    }

    .card-title {
        font-size: 18px;
        font-weight: bold;
    }

    .card-text {
        font-size: 16px;
        line-height: 1.5;
        max-height: 3.75em; /* Aproximadamente 76 caracteres a un tamaño de fuente de 16px */
        overflow: hidden;
    }

    .precio {
        font-family: 'Lato', sans-serif;
        color: #777;
        font-size: 18px;
        font-weight: 900;
        line-height: 45px;
        z-index: 1;
    }

    .botones-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .capitalize-first-letter {
        text-transform: lowercase;
    }

        .capitalize-first-letter:first-letter {
            text-transform: uppercase;
        }
</style>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 100%">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Imagenes/SlidePrueba1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Imagenes/SlidePrueba2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Imagenes/SlidePrueba3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<br />

<div class="container-fluid" style="max-width:1400px">





    @using (Html.BeginForm("Index", "SERVICIOS", FormMethod.Get, new { @class = "row row-cols-lg-12 g-0 align-content-center form" }))
    {

        <div class=" row w-100">
            <div class="col-6 w-auto">
                <span id="" class="str" data-rating="3"></span>
                <span id="puntuacionBuscar" class="text-muted">(3)</span>
                <input type="text" id="resstrella" name="puntuacion" class="d-none" />
            </div>
        </div>
        <div class="col-12  col-lg-2">
            <i class="fas fa-map-marker-alt control-form-feedback"></i>
            <select name="canton" id="canton" class="form-select col-12 control-form ">
                <option>Seleccione un cantón</option>
                <option value="AGUARICO">AGUARICO</option>
                <option value="ALAUSI">ALAUSI</option>
                <option value="AMBATO">AMBATO</option>
                <option value="ANTONIO ANTE">ANTONIO ANTE</option>
                <option value="ARAJUNO">ARAJUNO</option>
                <option value="ARCHIDONA">ARCHIDONA</option>
                <option value="ARENILLAS">ARENILLAS</option>
                <option value="ATACAMES">ATACAMES</option>
                <option value="ATAHUALPA">ATAHUALPA</option>
                <option value="AZOGUES">AZOGUES</option>
                <option value="BABA">BABA</option>
                <option value="BABAHOYO">BABAHOYO</option>
                <option value="BALAO">BALAO</option>
                <option value="BALSAS">BALSAS</option>
                <option value="BALZAR">BALZAR</option>
                <option value="BAÑOS DE AGUA SANTA">BAÑOS DE AGUA SANTA</option>
                <option value="BIBLIÁN">BIBLIÁN</option>
                <option value="BOLÍVAR">BOLÍVAR</option>
                <option value="BUENA FÉ">BUENA FÉ</option>
                <option value="CALUMA">CALUMA</option>
                <option value="CALVAS">CALVAS</option>
                <option value="CARLOS JULIO AROSEMENA TOL">CARLOS JULIO AROSEMENA TOL</option>
                <option value="CUENCA">CUENCA</option>
                <option value="CAMILO PONCE ENRÍQUEZ">CAMILO PONCE ENRÍQUEZ</option>
                <option value="CAÑAR">CAÑAR</option>
                <option value="CASCALES">CASCALES</option>
                <option value="CATAMAYO">CATAMAYO</option>
                <option value="CAYAMBE">CAYAMBE</option>
                <option value="CELICA">CELICA</option>
                <option value="CENTINELA DEL CÓNDOR">CENTINELA DEL CÓNDOR</option>
                <option value="CEVALLOS">CEVALLOS</option>
                <option value="CHAGUARPAMBA">CHAGUARPAMBA</option>
                <option value="CHAMBO">CHAMBO</option>
                <option value="CHILLA">CHILLA</option>
                <option value="CHILLANES">CHILLANES</option>
                <option value="CHIMBO">CHIMBO</option>
                <option value="CHINCHIPE">CHINCHIPE</option>
                <option value="CHONE">CHONE</option>
                <option value="CHORDELEG">CHORDELEG</option>
                <option value="CHUNCHI">CHUNCHI</option>
                <option value="COLIMES">COLIMES</option>
                <option value="COLTA">COLTA</option>
                <option value="COTACACHI">COTACACHI</option>
                <option value="CUMANDÁ">CUMANDÁ</option>
                <option value="CUYABENO">CUYABENO</option>
                <option value="DAULE">DAULE</option>
                <option value="24 DE MAYO">24 DE MAYO</option>
                <option value="DÉLEG">DÉLEG</option>
                <option value="DO BAQUERIZO MORENO JU">DO BAQUERIZO MORENO</option>
                <option value="DURÁN">DURÁN</option>
                <option value="ECHEANDÍA">ECHEANDÍA</option>
                <option value="EL CARMEN">EL CARMEN</option>
                <option value="EL CHACO">EL CHACO</option>
                <option value="EL EMPALME">EL EMPALME</option>
                <option value="EL GUABO">EL GUABO</option>
                <option value="EL PAN">EL PAN</option>
                <option value="EL PANGUI">EL PANGUI</option>
                <option value="EL PIEDRERO">EL PIEDRERO</option>
                <option value="EL TAMBO">EL TAMBO</option>
                <option value="EL TRIUNFO">EL TRIUNFO</option>
                <option value="ELOY ALFARO">ELOY ALFARO</option>
                <option value="ESMERALDAS">ESMERALDAS</option>
                <option value="ESPEJO">ESPEJO</option>
                <option value="ESPÍNDOLA">ESPÍNDOLA</option>
                <option value="FLAVIO ALFARO">FLAVIO ALFARO</option>
                <option value="GENERAL ANTONIO ELIZALDE">GENERAL ANTONIO ELIZALDE</option>
                <option value="GIRÓN">GIRÓN</option>
                <option value="GONZALO PIZARRO">GONZALO PIZARRO</option>
                <option value="GONZANAMÁ">GONZANAMÁ</option>
                <option value="GUACHAPALA">GUACHAPALA</option>
                <option value="GUALACEO">GUALACEO</option>
                <option value="GUALAQUIZA">GUALAQUIZA</option>
                <option value="GUAMOTE">GUAMOTE</option>
                <option value="GUANO">GUANO</option>
                <option value="GUARANDA">GUARANDA</option>
                <option value="GUAYAQUIL">GUAYAQUIL</option>
                <option value="HUAMBOYA">HUAMBOYA</option>
                <option value="HUAQUILLAS">HUAQUILLAS</option>
                <option value="IBARRA">IBARRA</option>
                <option value="ISABELA">ISABELA</option>
                <option value="ISIDRO AYORA">ISIDRO AYORA</option>
                <option value="JAMA">JAMA</option>
                <option value="JARAMIJÓ">JARAMIJÓ</option>
                <option value="JIPIJAPA">JIPIJAPA</option>
                <option value="JUNÍN">JUNÍN</option>
                <option value="LA CONCORDIA">LA CONCORDIA</option>
                <option value="LA JOYA DE LOS SACHAS">LA JOYA DE LOS SACHAS</option>
                <option value="LA LIBERTAD">LA LIBERTAD</option>
                <option value="LA MANÁ">LA MANÁ</option>
                <option value="LA TRONCAL">LA TRONCAL</option>
                <option value="LAGO AGRIO">LAGO AGRIO</option>
                <option value="LAS GOLONDRINAS">LAS GOLONDRINAS</option>
                <option value="LAS LAJAS">LAS LAJAS</option>
                <option value="LAS NAVES">LAS NAVES</option>
                <option value="LATACUNGA">LATACUNGA</option>
                <option value="LIMÓN INDANZA">LIMÓN INDANZA</option>
                <option value="LOGROÑO">LOGROÑO</option>
                <option value="LOJA">LOJA</option>
                <option value="LOMAS DE SARGENTILLO">LOMAS DE SARGENTILLO</option>
                <option value="LORETO">LORETO</option>
                <option value="MACARÁ">MACARÁ</option>
                <option value="MACHALA">MACHALA</option>
                <option value="MANGA DEL CURA">MANGA DEL CURA</option>
                <option value="MANTA">MANTA</option>
                <option value="MARCABELÍ">MARCABELÍ</option>
                <option value="MEJIA">MEJIA</option>
                <option value="MERA">MERA</option>
                <option value="MILAGRO">MILAGRO</option>
                <option value="MIRA">MIRA</option>
                <option value="MOCACHE">MOCACHE</option>
                <option value="MOCHA">MOCHA</option>
                <option value="MONTALVO">MONTALVO</option>
                <option value="MONTECRISTI">MONTECRISTI</option>
                <option value="MONTÚFAR">MONTÚFAR</option>
                <option value="MORONA">MORONA</option>
                <option value="MUISNE">MUISNE</option>
                <option value="NABÓN">NABÓN</option>
                <option value="NANGARITZA">NANGARITZA</option>
                <option value="NARANJAL">NARANJAL</option>
                <option value="NARANJITO">NARANJITO</option>
                <option value="NOBOL">NOBOL</option>
                <option value="OLMEDO">OLMEDO</option>
                <option value="OÑA">OÑA</option>
                <option value="ORELLANA">ORELLANA</option>
                <option value="ORONEL MARCELINO MARIDUE">ORONEL MARCELINO MARIDUE</option>
                <option value="OTAVALO">OTAVALO</option>
                <option value="PABLO SEXTO">PABLO SEXTO</option>
                <option value="PAJÁN">PAJÁN</option>
                <option value="PALANDA">PALANDA</option>
                <option value="PALENQUE">PALENQUE</option>
                <option value="PALESTINA">PALESTINA</option>
                <option value="PALLATANGA">PALLATANGA</option>
                <option value="PALORA">PALORA</option>
                <option value="PALTAS">PALTAS</option>
                <option value="PANGUA">PANGUA</option>
                <option value="PAQUISHA">PAQUISHA</option>
                <option value="PASAJE">PASAJE</option>
                <option value="PASTAZA">PASTAZA</option>
                <option value="PATATE">PATATE</option>
                <option value="PAUTE">PAUTE</option>
                <option value="PEDERNALES">PEDERNALES</option>
                <option value="PEDRO CARBO">PEDRO CARBO</option>
                <option value="PEDRO MONCAYO">PEDRO MONCAYO</option>
                <option value="PEDRO VICENTE MALDONADO">PEDRO VICENTE MALDONADO</option>
                <option value="PENIPE">PENIPE</option>
                <option value="PICHINCHA">PICHINCHA</option>
                <option value="PIMAMPIRO">PIMAMPIRO</option>
                <option value="PINDAL">PINDAL</option>
                <option value="PIÑAS">PIÑAS</option>
                <option value="PLAYAS">PLAYAS</option>
                <option value="PORTOVELO">PORTOVELO</option>
                <option value="PORTOVIEJO">PORTOVIEJO</option>
                <option value="PUCARA">PUCARA</option>
                <option value="PUEBLOVIEJO">PUEBLOVIEJO</option>
                <option value="PUERTO LÓPEZ">PUERTO LÓPEZ</option>
                <option value="PUERTO QUITO">PUERTO QUITO</option>
                <option value="PUJILI">PUJILI</option>
                <option value="PUTUMAYO">PUTUMAYO</option>
                <option value="PUYANGO">PUYANGO</option>
                <option value="QUERO">QUERO</option>
                <option value="QUEVEDO">QUEVEDO</option>
                <option value="QUIJOS">QUIJOS</option>
                <option value="QUILANGA">QUILANGA</option>
                <option value="QUININDÉ">QUININDÉ</option>
                <option value="QUINSALOMA">QUINSALOMA</option>
                <option value="QUITO">QUITO</option>
                <option value="RIOBAMBA">RIOBAMBA</option>
                <option value="RIOVERDE">RIOVERDE</option>
                <option value="ROCAFUERTE">ROCAFUERTE</option>
                <option value="RUMIÑAHUI">RUMIÑAHUI</option>
                <option value="SALCEDO">SALCEDO</option>
                <option value="SALINAS">SALINAS</option>
                <option value="SALITRE (URBINA JADO)">SALITRE (URBINA JADO)</option>
                <option value="SAMBORONDÓN">SAMBORONDÓN</option>
                <option value="SAN CRISTÓBAL">SAN CRISTÓBAL</option>
                <option value="SAN FERNANDO">SAN FERNANDO</option>
                <option value="SAN JACINTO DE YAGUACHI">SAN JACINTO DE YAGUACHI</option>
                <option value="SAN JUAN BOSCO">SAN JUAN BOSCO</option>
                <option value="SAN LORENZO">SAN LORENZO</option>
                <option value="SAN MIGUEL">SAN MIGUEL</option>
                <option value="SAN MIGUEL DE LOS BANCOS">SAN MIGUEL DE LOS BANCOS</option>
                <option value="SAN MIGUEL DE URCUQUÍ">SAN MIGUEL DE URCUQUÍ</option>
                <option value="SAN PEDRO DE HUACA">SAN PEDRO DE HUACA</option>
                <option value="SAN PEDRO DE PELILEO">SAN PEDRO DE PELILEO</option>
                <option value="SAN VICENTE">SAN VICENTE</option>
                <option value="SANTA ANA">SANTA ANA</option>
                <option value="SANTA CLARA">SANTA CLARA</option>
                <option value="SANTA CRUZ">SANTA CRUZ</option>
                <option value="SANTA ELENA">SANTA ELENA</option>
                <option value="SANTA ISABEL">SANTA ISABEL</option>
                <option value="SANTA LUCÍA">SANTA LUCÍA</option>
                <option value="SANTA ROSA">SANTA ROSA</option>
                <option value="SANTIAGO">SANTIAGO</option>
                <option value="SANTIAGO DE PÍLLARO">SANTIAGO DE PÍLLARO</option>
                <option value="SANTO DOMINGO">SANTO DOMINGO</option>
                <option value="SAQUISILÍ">SAQUISILÍ</option>
                <option value="SARAGURO">SARAGURO</option>
                <option value="SEVILLA DE ORO">SEVILLA DE ORO</option>
                <option value="SHUSHUFINDI">SHUSHUFINDI</option>
                <option value="SIGCHOS">SIGCHOS</option>
                <option value="SIGSIG">SIGSIG</option>
                <option value="SIMÓN BOLÍVAR">SIMÓN BOLÍVAR</option>
                <option value="SOZORANGA">SOZORANGA</option>
                <option value="SUCRE">SUCRE</option>
                <option value="SUCÚA">SUCÚA</option>
                <option value="SUCUMBÍOS">SUCUMBÍOS</option>
                <option value="SUSCAL">SUSCAL</option>
                <option value="TAISHA">TAISHA</option>
                <option value="TENA">TENA</option>
                <option value="TISALEO">TISALEO</option>
                <option value="TIWINTZA">TIWINTZA</option>
                <option value="TOSAGUA">TOSAGUA</option>
                <option value="TULCÁN">TULCÁN</option>
                <option value="URDANETA">URDANETA</option>
                <option value="VALENCIA">VALENCIA</option>
                <option value="VENTANAS">VENTANAS</option>
                <option value="VÍNCES">VÍNCES</option>
                <option value="YACUAMBI">YACUAMBI</option>
                <option value="YANTZAZA ">YANTZAZA (YANZATZA)</option>
                <option value="ZAMORA">ZAMORA</option>
                <option value="ZAPOTILLO">ZAPOTILLO</option>
                <option value="ZARUMA">ZARUMA</option>
            </select>
        </div>

        <div class="col-12  col-lg-2">
            <i class="fas fa-map-marker-alt control-form-feedback"></i>
            <label class="visually-hidden" for="inlineFormSelectPref">Sector</label>
            <select name="sector" class="form-select col-12 control-form" id="sector">
                <option>Seleccione un sector</option>

            </select>
        </div>
        <div class="col-12  col-lg-6">
            <i class="fas fa-search control-form-feedback text-muted"></i>
            <input type="text" id="servicio" name="servicio" class="form-control control-form  col-12" placeholder="Buscar por nombre de servicio" />
        </div>
        <form>
            <div class="col-12 col-lg-2 mt-2 mt-lg-0">
                <button type="submit" class="btn col-12 text-white" style="background-color:#DBA312"><i class="fas fa-search mx-2"></i>Buscar</button>
            </div>
        </form>
        <br />
    }



    <br />
    <div class="my-4" style="min-height:35vh;">
        <div class=" ">
            <div class="row">
                @foreach (var item in Model)
                {
                    //Separamos los nombres de las imagenes y guardamos en una lista
                    List<String> imagenes = (item.imagenes.Split(';')).ToList();

                    <div class="col-12 col-md-6 col-lg-4 mb-2">
                        <div class="card " style="max-width: 100%; height: 100%;">
                            <div class="contenedor-imagen">
                                <img class="card-img-top" src="~/imagenes_servicios/@imagenes[0]" alt="Card image cap" style="height: 290px; object-fit: cover;">
                            </div>
                            <div class="card-body" style="height:100%">
                                <h5 class="card-title capitalize-first-letter">@Html.DisplayFor(modelItem => item.nombre_servicio)</h5>
                                <p class="card-text indexdetlles descripcion">@Html.DisplayFor(modelItem => item.descripcion).</p>

                                <div class="my-2 mb-3" style="">
                                    <small class=" mx-2" style="font-family: 'Lato', sans-serif; color: #777; font-size: 18px; color: #777; font-weight: 900; line-height: 45px; z-index: 1;"> $ @Html.DisplayFor(modelItem => item.precio_servicio)</small>
                                </div>


                                <div class="row justify-content-between align-items-center">
                                    <div class="col-12 col-md-6">
                                        @Html.ActionLink("Crear cita", "Create", "CITAS", new { idServicio = item.id_servicio }, htmlAttributes: new { @class = "btn btn-outline-warning btn-sm my-2 my-md-0 rounded text-wrap col-12", id = "volbtn", style = " " })
                                    </div>
                                    <div class="col-12 col-md-6">
                                        @Html.ActionLink("Más detalles", "Details", new { id = item.id_servicio }, htmlAttributes: new { @class = "btn text-white btn-sm rounded text-wrap col-12 my-2 my-md-0", style = "background-color:#DBA312" })

                                    </div>


                                </div>
                            </div>
                        </div>



                    </div>





                }
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Verificar formulario
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Por favor, selecciona un cantón antes de buscar un servicio.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>



    $(document).ready(function () {
        // Agrega un evento al formulario cuando se envía
        $("form").submit(function (event) {
            // Obtiene el valor del campo de selección con id "canton"
            let cantonValue = $("#canton").val();
            console.log(cantonValue)
            // Verifica si el valor es vacío
            if (cantonValue === "Seleccione un cantón") {
                // Detiene el envío del formulario si el campo está vacío
                $('#modal').modal('show');
                event.preventDefault();
            }
        });



        let elementosDescripcion = document.querySelectorAll(".descripcion");
        const maxHeight = 5.75 * 16; // 76 caracteres a un tamaño de fuente de 16px
        const lineHeight = 1.5 * 16; // Tamaño de línea de 16px

        elementosDescripcion.forEach(elemento => {
            if (elemento.offsetHeight > maxHeight) {
                let text = elemento.innerText.trim();
                while (elemento.offsetHeight > maxHeight) {
                    text = text.slice(0, -1); // Eliminar el último carácter del texto
                    elemento.innerText = text + "..."; // Agregar puntos suspensivos
                }
            }
        });





    });
</script>