@model VerteBienV1.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Olvidaste la contraseña?";
}



<center>
    <img src="~/Imagenes/Verte Bien Transparente 2.png" width="128" height="128" style="margin-top:2%" />
    <h4>@ViewBag.Title </h4>
    <hr class="w-50" />
</center>
<br />


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formulario" }))
{
    @Html.AntiForgeryToken()


    <div class="container text-center w-100">
        <center>
            <div class="card text-center my-5" style="max-width:450px;">
                <div class="card-header h5 text-white" style="background-color:#DBA312;">Especifique su correo electrónico.</div>
                <div class="card-body px-5">
                    <p class="card-text py-2">
                        Ingrese su dirección de correo electrónico y le enviaremos un correo electrónico para restablecer su contraseña.
                    </p>
                    <div class="form-outline">



                        <div class="form-group formulario__grupo" id="grupo__Email">
                            @Html.LabelFor(m => m.Email, new { @class = " control-label  my-2" })

                            <div class="formulario__grupo-input">
                                <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle" style="left:47px;"></i>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control control-form mb-2", id = "Email", name = "Email", placeholder = "Correo@dominio.com" })

                            </div>
                            <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo. (ejemplo@dominio.com o ejemplo@dominio.com.do)</p>
                        </div>

                    </div>

                    <input type="submit" class=" submit btn text-white w-100 my-3" style="background-color:#DBA312;" value="Reiniciar contraseña" />
                    <div class="d-flex justify-content-between mt-4">
                        @Html.ActionLink("Iniciar sesión", "login", "Account", null, htmlAttributes: new { @class = "" })
                        @Html.ActionLink("Registrarse", "Register", "Account", null, htmlAttributes: new { @class = "" })
                    </div>
                </div>
            </div>
        </center>
    </div>

    @*@Html.ActionLink("Registrarse", "Register", "Account", null, htmlAttributes: new { @class = "btn text-white col-md-2 col-sm-6", @style = "background-color:#DBA312" })
        @Html.ValidationSummary("", new { @class = "text-danger d-none" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Vínculo de correo electrónico" />
            </div>
        </div>*@
}
<!-- Modal -->
<div class="modal" tabindex="-1" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Verificar formulario
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>  @Html.ValidationSummary("", new { @class = "text-danger" })</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>



</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
