
@model VerteBienV1.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrar cliente";
}

<style>
    .card {
        border: none;
        padding: 10px 50px;
        width: 900px;
        height: 500px;
    }

    #Email-error {
        display: none;
    }
    #txt-loginerror ul {
        padding: 0px;
        color: #686C6D;
        font-family: "Barlow", sans-serif !important;
        font-weight: 300;
        color: #686c6d;
        letter-spacing: 0.03rem;
        font-size: 12px;
        padding: 10px 5px 0px 10px;
    }

</style>



@using (Html.BeginForm("RegisterUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formulario" }))
{
    @Html.AntiForgeryToken()
    <center>
        <img src="~/Imagenes/Verte Bien Transparente 2.png" alt="Logo" width="128" height="128" style="margin-top:2%" />
        <h4>Registrate como cliente</h4>
        <hr class="w-50" />
    </center>
 
    <br />
    <div class="container">

        <div class="container  w-auto form_wrapper">

            <div class="card-body">
                <div class="form" style=" display: flex; justify-content: center;">
                    <fieldset class="msf_hide" style=" width: 70% !important;">

                        <div class="form-group col-12 formulario__grupo " id="grupo__Email">
                            @Html.LabelFor(m => m.Email, new { @class = " control-label col-12" })
                            <div class=" formulario__grupo-input">
                                <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control control-form col-12", id = "Email", name = "Email", placeholder = "Correo@dominio.com" })

                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger ", @id = "txt-loginerror" })
                            <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo. (ejemplo@dominio.com o ejemplo@dominio.com.do)</p>
                        </div>
                        <div class="form-group col-12 formulario__grupo my-4" id="grupo__Password">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-6 control-label" })
                            <div class=" formulario__grupo-input">
                                <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                @Html.TextBoxFor(m => m.Password, new { @class = " form-control control-form formulario__input ", type = "password", id = "Password", name = "Password" })
                                <button type="button" onclick="mostrarOcultarPassword('Password', 'ojoPassword')">
                                    <i class="fas fa-eye" id="ojoPassword"></i>
                                </button>
                            </div>
                            <p class="formulario__input-error ">La contraseña tiene que ser de 4 a 12 dígitos.</p>
                        </div>

                        <div class="form-group col-12 formulario__grupo" id="grupo__ConfirmPassword">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-6 control-label" })
                            <div class=" formulario__grupo-input">
                                <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control control-form formulario__input", id = "ConfirmPassword", name = "ConfirmPassword" })
                                <button type="button" onclick="mostrarOcultarPassword('ConfirmPassword', 'ojoConfirmPassword')">
                                    <i class="fas fa-eye" id="ojoConfirmPassword"></i>
                                </button>
                            </div>
                            <p class="formulario__input-error text-center">Ambas contraseñas deben ser iguales.</p>
                        </div>

                        <div class="mt-4 text-center">
                            <input type="button" class="btn btn btn-outline-warning volbtn" name="back" value="Atras" onclick="msf_btn_back()">
                            <input type="button" class="btn btn btn-outline-warning volbtn" name="next" value="Siguiente" onclick="msf_btn_next()">

                            <div class="msf_bullet_o"></div>
                            <div class="msf_line"></div>
                        </div>

                    </fieldset>

                    <fieldset class="msf_hide" style=" width: 70% !important; ">
                        <div class="form-group col-md-12 formulario__grupo" id="grupo__nombre">
                            @Html.LabelFor(m => m.nombre, "Nombre", new { @class = "col-md-2 control-label" })
                            <div class=" formulario__grupo-input">
                                <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                @Html.TextBoxFor(m => m.nombre, new { @class = "form-control control-form formulario__input ", id = "nombre", name = "nombre" })

                            </div>
                            <p class="formulario__input-error ">El nombre tiene que ser letras y pueden llevar acento.</p>
                        </div>


                        <div class="form-group col-md-12 formulario__grupo my-4" id="grupo__apellido">
                            @Html.LabelFor(m => m.apellido, "Apellido", new { @class = "col-md-2 control-label" })
                            <div class=" formulario__grupo-input">
                                <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                @Html.TextBoxFor(m => m.apellido, new { @class = "form-control control-form formulario__input ", id = "apellido", name = "apellido" })

                            </div>
                            <p class="formulario__input-error " id="imgerror">El apellido tiene que ser letras espacion y pueden llevar acento.</p>
                        </div>


                        <div class="form-group col-md-12 formulario__grupo" id="grupo__fecha_nacimiento_">
                            @Html.LabelFor(m => m.fecha_nacimiento_, "Fecha de nacimiento", new { @class = "col-md-6  control-label" })
                            <div class="formulario__grupo-input">
                                <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                @Html.TextBoxFor(m => m.fecha_nacimiento_, new { @class = "form-control control-form formulario__input ", id = "fecha_nacimiento_", name = "fecha_nacimiento_", @type = "date" })

                            </div>
                            <p class="formulario__input-error ">La fecha tiene que ser día/mes/años</p>
                            <p class="formulario__input-errorr ">Tiene que tener al menos 15 años de edad</p>
                        </div>

                        <div class="form-group col-md-12 formulario__grupo" id="grupo__telefono">
                            @Html.Label("Teléfono", new { @class = "col-md-2 control-label", @style = "margin-left:3px;" })
                            <div class="formulario__grupo-input">
                                <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                @Html.TextBoxFor(m => m.telefono, new { @class = "form-control control-form formulario__input", @required = "required", id = "telefono", name = "telefono" })

                            </div>
                            <p class="formulario__input-error">Por favor, introducir un telefono valido </p>
                        </div>
                        <div class="mt-4 text-center">
                            <input type="button" class="btn btn btn-outline-warning volbtn" name="back" value="Atras" onclick="msf_btn_back()">
                            <input type="button" class="btn btn btn-outline-warning volbtn" name="next" value="Siguiente" onclick="msf_btn_next()">

                            <div class="msf_bullet_o"></div>
                            <div class="msf_line"></div>
                        </div>
                    </fieldset>
                    @*<div class="form-group">
                            @Html.LabelFor(m => m.fecha_creacion_, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.fecha_creacion_, new { @class = "form-control control-form" })
                            </div>
                        </div>*@

                    @*<div class="form-group">
                            @Html.LabelFor(m => m.capacidad_simultanea_, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.capacidad_simultanea_, new { @class = "form-control control-form" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.estado, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.estado, new { @class = "form-control control-form" })
                            </div>
                        </div>*@
                </div>

            </div>

        </div>

    </div>


    <div class="modal" tabindex="-1" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Verificar formulario
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Por favor verificar que los datos del formulario esten correcto.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <br />


    <div class="form-group">
        <center>
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-lg text-white col2" style="background-color:#DBA312">Registrar</button>
            </div>
        </center>
    </div>
    <br />

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

}

<script>
    function mostrarOcultarPassword(inputId, eyeIconId) {
        let input = document.getElementById(inputId);
        let ojoIcono = document.getElementById(eyeIconId);
        if (input.type === "password") {
            input.type = "text";
            ojoIcono.classList.remove('fa-eye');
            ojoIcono.classList.add('fa-eye-slash');
        } else {
            input.type = "password";
            ojoIcono.classList.remove('fa-eye-slash');
            ojoIcono.classList.add('fa-eye');
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        let txtLoginError = document.getElementById('txt-loginerror');
        let emailInput = document.getElementById('grupo__Email');

        if (txtLoginError.style.display !== 'none') {
            emailInput.classList.add('formulario__grupo-incorrecto');
            setTimeout(function () {
                txtLoginError.style.display = 'none';
                emailInput.classList.remove('formulario__grupo-incorrecto');
            }, 10000); 
        }
    });

</script>
