@model VerteBienV1.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrar Peluqueria";
}
@*CDN`S para pasarela de pago*@
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdn.kushkipagos.com/kushki.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div id="app">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formulario" }))
    {
        @Html.AntiForgeryToken()
        <center>
            <img src="~/Imagenes/Verte Bien Transparente 2.png" alt="Logo" width="128" height="128" style="margin-top:2%" />
            <h4>Registra tu negocio</h4>
            <hr class="w-50" />
        </center>
      

        <style>
            /* Agregamos una animación simple que cambia la opacidad del ícono del ojo */
            .fa-eye {
                transition: opacity 0.3s ease;
            }

            .fa-eye-slash {
                transition: opacity 0.3s ease;
            }

            /* Cambiamos la opacidad del ícono para que aparezca más transparente cuando la contraseña está oculta */
            .fa-eye-slash {
                opacity: 0.5;
            }
            #Email-error {
                display: none;
            }

            #txt-loginerror ul {
                padding: 0px;
                color: #686C6D;
                font-family: "Barlow", sans-serif !important;
                font-weight: 300;
                color: #686c6d;
                letter-spacing: 0.03rem;
                font-size: 12px;
                padding: 10px 5px 0px 10px;
            }

        </style>

        <br />
        <div class="container w-auto form_wrapper">
            <div class="">
                <div class="card-body">
                    <div class="form row shadow-lg">

                        <fieldset class="msf_hide">
                            <div class="row p-3">
                                <div class="form-group col-12 col-md-6  formulario__grupo" id="grupo__Email">
                                    @Html.LabelFor(m => m.Email, new { @class = " control-label col-md-6" })
                                    <div class="formulario__grupo-input col-md-10 ">
                                        <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control control-form control-form", id = "Email", name = "Email", placeholder = "Correo@dominio.com" })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger ", @id = "txt-loginerror" })
                                    <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo. (ejemplo@dominio.com o ejemplo@dominio.com.do)</p>
                                </div>
                                <div class="form-group col-12 col-md-6 my-1 formulario__grupo has-feedback" id="grupo__nombre_peluqueria">
                                    @Html.Label("Nombre peluquería", new { @class = "col-md-8 control-label", @style = "margin-left:3px;" })
                                    <div class=" formulario__grupo-input col-md-12">
                                        <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                        @Html.TextBoxFor(m => m.nombre_peluqueria, new { @class = "form-control control-form control-form  formulario__input", id = "nombre_peluqueria", name = "nombre_peluqueria", @required = "required" })

                                    </div>
                                    <p class="formulario__input-error">El nombre de la peluqueria debe tener minimo 4 caracteres,maximo 45 caracteres.</p>
                                </div>
                                <div class="form-group col-12 col-md-6 my-1">
                                    <label class=" control-label" style="margin-top:2%; margin-left:3px;">Selecione una membresia</label>
                                    <div class=" col-md-10 ">
                                        <select class="form-control col-md-10 " name="membresiaSelec" required>
                                            <option value="expres">Express</option>
                                            <option value="preferencial">Preferencial</option>
                                            <option value="vip">Vip</option>
                                        </select>
                                    </div>

                                </div>

                            </div>

                            <div class="mt-2 text-center col-12">
                                <input type="button" class="btn btn btn-outline-warning" id="volbtn" name="back" value="Atras" onclick="msf_btn_back()">
                                <input type="button" class="btn btn btn-outline-warning" id="volbtn" name="next" value="Siguiente" onclick="msf_btn_next()">

                                <div class="msf_bullet_o"></div>
                                <div class="msf_line"></div>
                            </div>
                        </fieldset>

                        <fieldset class="msf_hide">
                            <div class="row">

                                <div class="form-group col-12 col-md-6 my-2 formulario__grupo" id="grupo__ciudad">
                                    @Html.Label("Cantón", new { @class = "col-md-6 control-label", @style = "margin-left:3px;" })
                                    <div class="col-md-10">
                                        <select name="canton" id="canton" required="required" class="form-select col-12">
                                            <option>Seleccione un cantón</option>
                                            <option value="AGUARICO">AGUARICO</option>
                                            <option value="ALAUSI">ALAUSI</option>
                                            <option value="AMBATO">AMBATO</option>
                                            <option value="ANTONIO ANTE">ANTONIO ANTE</option>
                                            <option value="ARAJUNO">ARAJUNO</option>
                                            <option value="ARCHIDONA">ARCHIDONA</option>
                                            <option value="ARENILLAS">ARENILLAS</option>
                                            <option value="ATACAMES">ATACAMES</option>
                                            <option value="ATAHUALPA">ATAHUALPA</option>
                                            <option value="AZOGUES">AZOGUES</option>
                                            <option value="BABA">BABA</option>
                                            <option value="BABAHOYO">BABAHOYO</option>
                                            <option value="BALAO">BALAO</option>
                                            <option value="BALSAS">BALSAS</option>
                                            <option value="BALZAR">BALZAR</option>
                                            <option value="BAÑOS DE AGUA SANTA">BAÑOS DE AGUA SANTA</option>
                                            <option value="BIBLIÁN">BIBLIÁN</option>
                                            <option value="BOLÍVAR">BOLÍVAR</option>
                                            <option value="BUENA FÉ">BUENA FÉ</option>
                                            <option value="CALUMA">CALUMA</option>
                                            <option value="CARLOS JULIO AROSEMENA TOL">CARLOS JULIO AROSEMENA TOL</option>
                                            <option value="CALVAS">CALVAS</option>
                                            <option value="CUENCA">CUENCA</option>
                                            <option value="CAMILO PONCE ENRÍQUEZ">CAMILO PONCE ENRÍQUEZ</option>
                                            <option value="CAÑAR">CAÑAR</option>
                                            <option value="CASCALES">CASCALES</option>
                                            <option value="CATAMAYO">CATAMAYO</option>
                                            <option value="CAYAMBE">CAYAMBE</option>
                                            <option value="CELICA">CELICA</option>
                                            <option value="CENTINELA DEL CÓNDOR">CENTINELA DEL CÓNDOR</option>
                                            <option value="CEVALLOS">CEVALLOS</option>
                                            <option value="CHAGUARPAMBA">CHAGUARPAMBA</option>
                                            <option value="CHAMBO">CHAMBO</option>
                                            <option value="CHILLA">CHILLA</option>
                                            <option value="CHILLANES">CHILLANES</option>
                                            <option value="CHIMBO">CHIMBO</option>
                                            <option value="CHINCHIPE">CHINCHIPE</option>
                                            <option value="CHONE">CHONE</option>
                                            <option value="CHORDELEG">CHORDELEG</option>
                                            <option value="CHUNCHI">CHUNCHI</option>
                                            <option value="COLIMES">COLIMES</option>
                                            <option value="COLTA">COLTA</option>
                                            <option value="COTACACHI">COTACACHI</option>
                                            <option value="CUMANDÁ">CUMANDÁ</option>
                                            <option value="CUYABENO">CUYABENO</option>
                                            <option value="DAULE">DAULE</option>
                                            <option value="24 DE MAYO">24 DE MAYO</option>
                                            <option value="DÉLEG">DÉLEG</option>
                                            <option value="DO BAQUERIZO MORENO JU">DO BAQUERIZO MORENO</option>
                                            <option value="DURÁN">DURÁN</option>
                                            <option value="ECHEANDÍA">ECHEANDÍA</option>
                                            <option value="EL CARMEN">EL CARMEN</option>
                                            <option value="EL CHACO">EL CHACO</option>
                                            <option value="EL EMPALME">EL EMPALME</option>
                                            <option value="EL GUABO">EL GUABO</option>
                                            <option value="EL PAN">EL PAN</option>
                                            <option value="EL PANGUI">EL PANGUI</option>
                                            <option value="EL PIEDRERO">EL PIEDRERO</option>
                                            <option value="EL TAMBO">EL TAMBO</option>
                                            <option value="EL TRIUNFO">EL TRIUNFO</option>
                                            <option value="ELOY ALFARO">ELOY ALFARO</option>
                                            <option value="ESMERALDAS">ESMERALDAS</option>
                                            <option value="ESPEJO">ESPEJO</option>
                                            <option value="ESPÍNDOLA">ESPÍNDOLA</option>
                                            <option value="FLAVIO ALFARO">FLAVIO ALFARO</option>
                                            <option value="GENERAL ANTONIO ELIZALDE">GENERAL ANTONIO ELIZALDE</option>
                                            <option value="GIRÓN">GIRÓN</option>
                                            <option value="GONZALO PIZARRO">GONZALO PIZARRO</option>
                                            <option value="GONZANAMÁ">GONZANAMÁ</option>
                                            <option value="GUACHAPALA">GUACHAPALA</option>
                                            <option value="GUALACEO">GUALACEO</option>
                                            <option value="GUALAQUIZA">GUALAQUIZA</option>
                                            <option value="GUAMOTE">GUAMOTE</option>
                                            <option value="GUANO">GUANO</option>
                                            <option value="GUARANDA">GUARANDA</option>
                                            <option value="GUAYAQUIL">GUAYAQUIL</option>
                                            <option value="HUAMBOYA">HUAMBOYA</option>
                                            <option value="HUAQUILLAS">HUAQUILLAS</option>
                                            <option value="IBARRA">IBARRA</option>
                                            <option value="ISABELA">ISABELA</option>
                                            <option value="ISIDRO AYORA">ISIDRO AYORA</option>
                                            <option value="JAMA">JAMA</option>
                                            <option value="JARAMIJÓ">JARAMIJÓ</option>
                                            <option value="JIPIJAPA">JIPIJAPA</option>
                                            <option value="JUNÍN">JUNÍN</option>
                                            <option value="LA CONCORDIA">LA CONCORDIA</option>
                                            <option value="LA JOYA DE LOS SACHAS">LA JOYA DE LOS SACHAS</option>
                                            <option value="LA LIBERTAD">LA LIBERTAD</option>
                                            <option value="LA MANÁ">LA MANÁ</option>
                                            <option value="LA TRONCAL">LA TRONCAL</option>
                                            <option value="LAGO AGRIO">LAGO AGRIO</option>
                                            <option value="LAS GOLONDRINAS">LAS GOLONDRINAS</option>
                                            <option value="LAS LAJAS">LAS LAJAS</option>
                                            <option value="LAS NAVES">LAS NAVES</option>
                                            <option value="LATACUNGA">LATACUNGA</option>
                                            <option value="LIMÓN INDANZA">LIMÓN INDANZA</option>
                                            <option value="LOGROÑO">LOGROÑO</option>
                                            <option value="LOJA">LOJA</option>
                                            <option value="LOMAS DE SARGENTILLO">LOMAS DE SARGENTILLO</option>
                                            <option value="LORETO">LORETO</option>
                                            <option value="MACARÁ">MACARÁ</option>
                                            <option value="MACHALA">MACHALA</option>
                                            <option value="MANGA DEL CURA">MANGA DEL CURA</option>
                                            <option value="MANTA">MANTA</option>
                                            <option value="MARCABELÍ">MARCABELÍ</option>
                                            <option value="MEJIA">MEJIA</option>
                                            <option value="MERA">MERA</option>
                                            <option value="MILAGRO">MILAGRO</option>
                                            <option value="MIRA">MIRA</option>
                                            <option value="MOCACHE">MOCACHE</option>
                                            <option value="MOCHA">MOCHA</option>
                                            <option value="MONTALVO">MONTALVO</option>
                                            <option value="MONTECRISTI">MONTECRISTI</option>
                                            <option value="MONTÚFAR">MONTÚFAR</option>
                                            <option value="MORONA">MORONA</option>
                                            <option value="MUISNE">MUISNE</option>
                                            <option value="NABÓN">NABÓN</option>
                                            <option value="NANGARITZA">NANGARITZA</option>
                                            <option value="NARANJAL">NARANJAL</option>
                                            <option value="NARANJITO">NARANJITO</option>
                                            <option value="NOBOL">NOBOL</option>
                                            <option value="OLMEDO">OLMEDO</option>
                                            <option value="OÑA">OÑA</option>
                                            <option value="ORELLANA">ORELLANA</option>
                                            <option value="ORONEL MARCELINO MARIDUE">ORONEL MARCELINO MARIDUE</option>
                                            <option value="OTAVALO">OTAVALO</option>
                                            <option value="PABLO SEXTO">PABLO SEXTO</option>
                                            <option value="PAJÁN">PAJÁN</option>
                                            <option value="PALANDA">PALANDA</option>
                                            <option value="PALENQUE">PALENQUE</option>
                                            <option value="PALESTINA">PALESTINA</option>
                                            <option value="PALLATANGA">PALLATANGA</option>
                                            <option value="PALORA">PALORA</option>
                                            <option value="PALTAS">PALTAS</option>
                                            <option value="PANGUA">PANGUA</option>
                                            <option value="PAQUISHA">PAQUISHA</option>
                                            <option value="PASAJE">PASAJE</option>
                                            <option value="PASTAZA">PASTAZA</option>
                                            <option value="PATATE">PATATE</option>
                                            <option value="PAUTE">PAUTE</option>
                                            <option value="PEDERNALES">PEDERNALES</option>
                                            <option value="PEDRO CARBO">PEDRO CARBO</option>
                                            <option value="PEDRO MONCAYO">PEDRO MONCAYO</option>
                                            <option value="PEDRO VICENTE MALDONADO">PEDRO VICENTE MALDONADO</option>
                                            <option value="PENIPE">PENIPE</option>
                                            <option value="PICHINCHA">PICHINCHA</option>
                                            <option value="PIMAMPIRO">PIMAMPIRO</option>
                                            <option value="PINDAL">PINDAL</option>
                                            <option value="PIÑAS">PIÑAS</option>
                                            <option value="PLAYAS">PLAYAS</option>
                                            <option value="PORTOVELO">PORTOVELO</option>
                                            <option value="PORTOVIEJO">PORTOVIEJO</option>
                                            <option value="PUCARA">PUCARA</option>
                                            <option value="PUEBLOVIEJO">PUEBLOVIEJO</option>
                                            <option value="PUERTO LÓPEZ">PUERTO LÓPEZ</option>
                                            <option value="PUERTO QUITO">PUERTO QUITO</option>
                                            <option value="PUJILI">PUJILI</option>
                                            <option value="PUTUMAYO">PUTUMAYO</option>
                                            <option value="PUYANGO">PUYANGO</option>
                                            <option value="QUERO">QUERO</option>
                                            <option value="QUEVEDO">QUEVEDO</option>
                                            <option value="QUIJOS">QUIJOS</option>
                                            <option value="QUILANGA">QUILANGA</option>
                                            <option value="QUININDÉ">QUININDÉ</option>
                                            <option value="QUINSALOMA">QUINSALOMA</option>
                                            <option value="QUITO">QUITO</option>
                                            <option value="RIOBAMBA">RIOBAMBA</option>
                                            <option value="RIOVERDE">RIOVERDE</option>
                                            <option value="ROCAFUERTE">ROCAFUERTE</option>
                                            <option value="RUMIÑAHUI">RUMIÑAHUI</option>
                                            <option value="SALCEDO">SALCEDO</option>
                                            <option value="SALINAS">SALINAS</option>
                                            <option value="SALITRE (URBINA JADO)">SALITRE (URBINA JADO)</option>
                                            <option value="SAMBORONDÓN">SAMBORONDÓN</option>
                                            <option value="SAN CRISTÓBAL">SAN CRISTÓBAL</option>
                                            <option value="SAN FERNANDO">SAN FERNANDO</option>
                                            <option value="SAN JACINTO DE YAGUACHI">SAN JACINTO DE YAGUACHI</option>
                                            <option value="SAN JUAN BOSCO">SAN JUAN BOSCO</option>
                                            <option value="SAN LORENZO">SAN LORENZO</option>
                                            <option value="SAN MIGUEL">SAN MIGUEL</option>
                                            <option value="SAN MIGUEL DE LOS BANCOS">SAN MIGUEL DE LOS BANCOS</option>
                                            <option value="SAN MIGUEL DE URCUQUÍ">SAN MIGUEL DE URCUQUÍ</option>
                                            <option value="SAN PEDRO DE HUACA">SAN PEDRO DE HUACA</option>
                                            <option value="SAN PEDRO DE PELILEO">SAN PEDRO DE PELILEO</option>
                                            <option value="SAN VICENTE">SAN VICENTE</option>
                                            <option value="SANTA ANA">SANTA ANA</option>
                                            <option value="SANTA CLARA">SANTA CLARA</option>
                                            <option value="SANTA CRUZ">SANTA CRUZ</option>
                                            <option value="SANTA ELENA">SANTA ELENA</option>
                                            <option value="SANTA ISABEL">SANTA ISABEL</option>
                                            <option value="SANTA LUCÍA">SANTA LUCÍA</option>
                                            <option value="SANTA ROSA">SANTA ROSA</option>
                                            <option value="SANTIAGO">SANTIAGO</option>
                                            <option value="SANTIAGO DE PÍLLARO">SANTIAGO DE PÍLLARO</option>
                                            <option value="SANTO DOMINGO">SANTO DOMINGO</option>
                                            <option value="SAQUISILÍ">SAQUISILÍ</option>
                                            <option value="SARAGURO">SARAGURO</option>
                                            <option value="SEVILLA DE ORO">SEVILLA DE ORO</option>
                                            <option value="SHUSHUFINDI">SHUSHUFINDI</option>
                                            <option value="SIGCHOS">SIGCHOS</option>
                                            <option value="SIGSIG">SIGSIG</option>
                                            <option value="SIMÓN BOLÍVAR">SIMÓN BOLÍVAR</option>
                                            <option value="SOZORANGA">SOZORANGA</option>
                                            <option value="SUCRE">SUCRE</option>
                                            <option value="SUCÚA">SUCÚA</option>
                                            <option value="SUCUMBÍOS">SUCUMBÍOS</option>
                                            <option value="SUSCAL">SUSCAL</option>
                                            <option value="TAISHA">TAISHA</option>
                                            <option value="TENA">TENA</option>
                                            <option value="TISALEO">TISALEO</option>
                                            <option value="TIWINTZA">TIWINTZA</option>
                                            <option value="TOSAGUA">TOSAGUA</option>
                                            <option value="TULCÁN">TULCÁN</option>
                                            <option value="URDANETA">URDANETA</option>
                                            <option value="VALENCIA">VALENCIA</option>
                                            <option value="VENTANAS">VENTANAS</option>
                                            <option value="VÍNCES">VÍNCES</option>
                                            <option value="YACUAMBI">YACUAMBI</option>
                                            <option value="YANTZAZA ">YANTZAZA (YANZATZA)</option>
                                            <option value="ZAMORA">ZAMORA</option>
                                            <option value="ZAPOTILLO">ZAPOTILLO</option>
                                            <option value="ZARUMA">ZARUMA</option>
                                        </select>
                                        @*@Html.TextBoxFor(m => m.ciudad, new { @class = "form-control control-form formulario__input", @required = "required", id = "ciudad", name = "ciudad" })*@

                                    </div>
                                    <p class="formulario__input-error">Elegir una ciudad valida</p>
                                </div>
                                <div class="form-group col-12 col-md-6 my-2">
                                    @Html.Label("Sector", new { @class = "col-md-4 control-label", @style = "margin-left:3px;" })
                                    <label class="visually-hidden" for="sector">Sector</label>
                                    <select name="sector" class="form-select col-12" id="sector">
                                        <option value="0">Seleccione una...</option>
                                    </select>

                                    <div class="col-md-5">

                                    </div>
                                </div>

                                <div class="form-group col-12 col-md-6 my-1 formulario__grupo" id="grupo__calle">
                                    @Html.Label("Calle", new { @class = "col-md-2 control-label", @style = "margin-left:3px;" })
                                    <div class="col-md-10 formulario__grupo-input">
                                        <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                        @Html.TextBoxFor(m => m.calle, new { @class = "form-control control-form formulario__input", id = "calle", name = "calle", @required = "required" })

                                    </div>
                                    <p class="formulario__input-error">La informacion de la calle admite letras y numeros maximo 45 </p>
                                </div>

                            </div>
                            <div class="mt-2 text-center col-12">
                                <input type="button" class="btn btn btn-outline-warning volbtn" name="back" value="Atras" onclick="msf_btn_back()">
                                <input type="button" class="btn btn btn-outline-warning volbtn" name="next" value="Siguiente" onclick="msf_btn_next()">

                                <div class="msf_bullet_o"></div>
                                <div class="msf_line"></div>
                            </div>
                        </fieldset>

                        <fieldset class="msf_hide">
                            <div class="row">
                                <div class="form-group col-12 col-md-6 my-1 formulario__grupo" id="grupo__nombre">
                                    @Html.Label("Nombre", new { @class = "col-md-4 control-label", @style = "margin-left:3px;" })
                                    <div class="col-md-10 formulario__grupo-input">
                                        <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                        @Html.TextBoxFor(m => m.nombre, new { @class = "form-control control-form formulario__input", @required = "required", id = "nombre", name = "nombre" })


                                    </div>
                                    <p class="formulario__input-error">El nombre tiene que ser letras espacion y pueden llevar acento.</p>
                                </div>

                                <div class="form-group col-12 col-md-6 my-1 formulario__grupo" id="grupo__apellido">
                                    @Html.Label("Apellidos", new { @class = "col-md-4 control-label", @style = "margin-left:3px;" })
                                    <div class="col-md-10 formulario__grupo-input">
                                        <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                        @Html.TextBoxFor(m => m.apellido, new { @class = "form-control control-form formulario__input", @required = "required", id = "apellido", name = "apellido" })

                                    </div>
                                    <p class="formulario__input-error">El apellido tiene que ser letras espacion y pueden llevar acento.</p>
                                </div>

                                <div class="form-group col-12 col-md-6 my-1 formulario__grupo" id="grupo__telefono">
                                    @Html.Label("Teléfono", new { @class = "col-md-4 control-label", @style = "margin-left:3px;" })
                                    <div class="col-md-10 formulario__grupo-input">
                                        <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                        @Html.TextBoxFor(m => m.telefono, new { @class = "form-control control-form formulario__input", @required = "required", id = "telefono", name = "telefono" })

                                    </div>
                                    <p class="formulario__input-error">Por favor, introducir un telefono valido </p>
                                </div>
                                <div class="form-group col-12 col-md-6 my-1 formulario__grupo ml-3" id="grupo__fecha_nacimiento_">
                                    @Html.Label("Fecha de nacimiento", new { @class = "col-md-8 control-label", @style = "margin-top:2%; margin-left:3px;" })
                                    <div class="col-md-10 formulario__grupo-input">
                                        <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                        @Html.TextBoxFor(m => m.fecha_nacimiento_, new { @class = "form-control control-form formulario__input", @required = "required", @type = "date", id = "fecha_nacimiento_", name = "fecha_nacimiento_", @max = DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd") })

                                    </div>
                                    <p class="formulario__input-error">La fecha tiene que ser mes/dia/años</p>
                                    <p class="formulario__input-errorr">Tiene que ser mayo de edad</p>
                                </div>
                                <div class="form-group col-12 col-md-6 my-2 formulario__grupo" id="grupo__Password">
                                    @Html.Label("Contraseña", new { @class = "col-md-4 control-label", @style = "margin-left:3px;" })
                                    <div class="col-md-10 formulario__grupo-input">
                                        <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control control-form formulario__input", @required = "required", id = "Password", name = "Password" })
                                        <button type="button" onclick="mostrarOcultarPassword('Password', 'ojoPassword')">
                                            <i class="fas fa-eye" id="ojoPassword"></i>
                                        </button>

                                    </div>
                                    <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
                                </div>

                                <div class="form-group col-12 col-md-6 my-1 formulario__grupo" id="grupo__ConfirmPassword">
                                    @Html.Label("Confirmar contraseña", new { @class = "control-label", @style = "margin-left:3px;" })

                                    <div class="col-md-10 formulario__grupo-input">
                                        <i class="formulario__validacion-estado control-form-feedback fas fa-times-circle"></i>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control control-form formulario__input", @required = "required", id = "ConfirmPassword", name = "ConfirmPassword" })
                                        <button type="button" onclick="mostrarOcultarPassword('ConfirmPassword', 'ojoConfirmPassword')">
                                            <i class="fas fa-eye" id="ojoConfirmPassword"></i>
                                        </button>
                                    </div>
                                    <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
                                </div>
                            </div>
                            <div class="mt-2 text-center col-12 ">
                                <input type="button" class="btn btn btn-outline-warning volbtn" name="back" value="Atras" onclick="msf_btn_back()">
                                <input type="button" class="btn btn btn-outline-warning volbtn" name="next" value="Siguiente" onclick="msf_btn_next()">

                                <div class="msf_bullet_o"></div>
                                <div class="msf_line"></div>
                            </div>
                        </fieldset>
                        <fieldset class="msf_hide" id="div-map">
                            <div class="row ">
                                <div id="map" class="form-group col-12 my-1 text-center mb-5" style="width:100%; height: 350px;"></div>

                                <div class="form-group col-12 col-md-6 my-1 formulario__grupo">
                                    <center>
                                        @Html.Label("Latitud", new { @class = "col-md-4 control-label", @style = "margin-left:3px;" })
                                        <div class="col-md-10 formulario__grupo-input" data-bs-toggle="tooltip" data-bs-placement="top" title="para rellenar estos campos mueva la ubicacion deseada en el mapa de arriba">

                                            @Html.TextBoxFor(m => m.latitud, new { @class = "form-control", id = "latitud", @required = "required" })

                                        </div>
                                    </center>
                                </div>
                                <div class="form-group col-12 col-md-6  my-1 formulario__grupo">
                                    <center>
                                        @Html.Label("Longitud", new { @class = "col-md-4 control-label", @style = "margin-left:3px;" })
                                        <div class="col-md-10 formulario__grupo-input" data-bs-toggle="tooltip" , data-bs-placement="top" title="para rellenar estos campos mueva la ubicacion deseada en el mapa de arriba">

                                            @Html.TextBoxFor(m => m.longitud, new { @class = "form-control", id = "longitud", @required = "required" })

                                        </div>
                                    </center>
                                </div>
                            </div>
                            <div class="mt-2 text-center col-12">
                                <input type="button" class="btn btn btn-outline-warning volbtn" name="back" value="Atras" onclick="msf_btn_back()">
                                <input type="button" class="btn btn btn-outline-warning volbtn" name="next" value="Siguiente" onclick="msf_btn_next()">

                                <div class="msf_bullet_o"></div>
                                <div class="msf_line"></div>
                            </div>
                        </fieldset>






                    </div>
                </div>



                @*<div class="modal" tabindex="-1" id="modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        Verificar formulario
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Por favor verificar que los datos del formulario esten correcto.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <center>
                    <div class="col-md-offset-2 col-md-10 form-group">
                        <button type="submit" class="btn btn-lg text-white" style="background-color:#DBA312">Registrarse</button>
                    </div>
                </center>
                <br />
            </div>
        </div>


        <!-- Modal -->
        <div class="modal" tabindex="-1" id="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Verificar formulario
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Por favor verificar que los datos del formulario esten correcto.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



    }
</div>
<br />



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    function mostrarOcultarPassword(inputId, eyeIconId) {
        let input = document.getElementById(inputId);
        let ojoIcono = document.getElementById(eyeIconId);
        if (input.type === "password") {
            input.type = "text";
            ojoIcono.classList.remove('fa-eye');
            ojoIcono.classList.add('fa-eye-slash');
        } else {
            input.type = "password";
            ojoIcono.classList.remove('fa-eye-slash');
            ojoIcono.classList.add('fa-eye');
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        let txtLoginError = document.getElementById('txt-loginerror');
        let emailInput = document.getElementById('grupo__Email');

        if (txtLoginError.style.display !== 'none') {
            emailInput.classList.add('formulario__grupo-incorrecto');
            setTimeout(function () {
                txtLoginError.style.display = 'none';
                emailInput.classList.remove('formulario__grupo-incorrecto');
            }, 10000);
        }
    });



</script>


@*---------------------------------------------------------------------------------------------------------------------------*@



@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Cree una cuenta nueva.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <select class="form-control control-form" id="StudentGender" name="membresiaSelec">
            <option>Selecciona una membresia</option>
            <option>gratis</option>
            <option>expres</option>
            <option>preferencial</option>
            <option>vip</option>
        </select>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control control-form" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control control-form" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control control-form" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.nombre, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.nombre, new { @class = "form-control control-form" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.apellido, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.apellido, new { @class = "form-control control-form" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.fecha_nacimiento_, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.fecha_nacimiento_, new { @class = "form-control control-form" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ciudad, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ciudad, new { @class = "form-control control-form" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.sector, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.sector, new { @class = "form-control control-form" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.calle, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.calle, new { @class = "form-control control-form" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.telefono, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.telefono, new { @class = "form-control control-form" })
            </div>
        </div>
        @*<div class="form-group">
                @Html.LabelFor(m => m.capacidad_simultanea_, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.capacidad_simultanea_, new { @class = "form-control control-form" })
                </div>
            </div>
        <div class="form-group">
            @Html.LabelFor(m => m.nombre_peluqueria, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.nombre_peluqueria, new { @class = "form-control control-form" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.latitud, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.latitud, new { @class = "form-control control-form" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.longitud, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.longitud, new { @class = "form-control control-form" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Registrarse" />
            </div>
        </div>
    }*@
