@model VerteBienV1.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña";
}

<style>
    /* Agregamos una animación simple que cambia la opacidad del ícono del ojo */
    .fa-eye {
        transition: opacity 0.3s ease;
    }

    .fa-eye-slash {
        transition: opacity 0.3s ease;
    }

    /* Cambiamos la opacidad del ícono para que aparezca más transparente cuando la contraseña está oculta */
    .fa-eye-slash {
        opacity: 0.5;
    }
</style>


@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2 class="my-4 text-center">@ViewBag.Title.</h2>
    <div class="container edi h-75 shadow my-3 p-5">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = " control-label" })
            <div class="">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", id = "OldPassword", type = "password" })
                <button type="button" onclick="mostrarOcultarPassword('OldPassword', 'ojoOldPassword')">
                    <i class="fas fa-eye" id="ojoOldPassword"></i>
                </button>
            </div>
        </div>
        <div class="form-group my-3">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            <div class="">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", id = "NewPassword", type = "password" })
                <button type="button" onclick="mostrarOcultarPassword('NewPassword', 'ojoNewPassword')">
                    <i class="fas fa-eye" id="ojoNewPassword"></i>
                </button>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "ConfirmPassword", type = "password" })
                <button type="button" onclick="mostrarOcultarPassword('ConfirmPassword', 'ojoConfirmarPassword  ')">
                    <i class="fas fa-eye" id="ojoConfirmarPassword"></i>
                </button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cambiar contraseña" class="btn text-white rounded my-5" style="background-color:#DBA312" />
            </div>

        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function mostrarOcultarPassword(inputId, eyeIconId) {
        var input = document.getElementById(inputId);
        var ojoIcono = document.getElementById(eyeIconId);
        if (input.type === "password") {
            input.type = "text";
            ojoIcono.classList.remove('fa-eye');
            ojoIcono.classList.add('fa-eye-slash');
        } else {
            input.type = "password";
            ojoIcono.classList.remove('fa-eye-slash');
            ojoIcono.classList.add('fa-eye');
        }
    }

</script>
