@model VerteBienV1.Models.PUNTUACION_PELUQUERIA

@{
    ViewBag.Title = "Create";
}


@if (ViewBag.comprobar != null)
{
   
        <h3 my-5 text-center>Este Formulario ya ha sido contestado</h3>
   
}

else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <center>
        <img src="~/Imagenes/Verte Bien Transparente 2.png" width="128" height="128" style="margin-top:2%" />
        <h4 class="my-4">Punctuation Peluquería</h4>
        <hr class="w-50" />


        <div class="container">
            <div class="card h-100 w-75 shadow-lg">
                <div class="card-body">
                    <div class="form-row">

                        <div class="form-group col-md-12">
                            @Html.Label("Usuario", htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-10">
                                @Html.Editor("id_usuario", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @*@Html.DropDownList("id_servicio", null, htmlAttributes: new { @class = "form-control" })*@
                                @Html.ValidationMessageFor(model => model.id_usuario, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.id_cita, "Id Cita", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.id_cita, new { htmlAttributes = new { @class = "form-control", @value = @ViewBag.id_cita, @readonly = "readonly" } })
                                @*@Html.DropDownList("id_cita", null, htmlAttributes: new { @class = "form-control" })*@
                                @Html.ValidationMessageFor(model => model.id_cita, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.comentario, "Comentario", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.comentario, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.comentario, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.estrellas, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.estrellas, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.estrellas, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                        <div class="form-group col-md-12">
                            @Html.Label("Cantidad de estrellas", htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.estrellas, new { htmlAttributes = new { @class = "form-control d-none", @id = "resstrella" } })
                                <span id="" class="str"></span>
                                @Html.ValidationMessageFor(model => model.estrellas, "", new { @class = "text-danger" })


                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn text-white" style="background-color:#DBA312; margin-top:2%">Agregar Puntuación</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br />
    </center>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    @*<div class="form-group">
            @Html.LabelFor(model => model.fecha_creacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_creacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha_creacion, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
            </div>
        </div>*@

   
    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>*@
</div>
    }
}
