<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Verte Bien</title>
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/starrr.css")
    @Styles.Render("~/Content/css")
    @Styles.Render("https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />

    @*Galeria de fotos*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.css" integrity="sha512-Woz+DqWYJ51bpVk5Fv0yES/edIMXjj3Ynda+KWTIkGoynAMHrqTcDUQltbipuiaD5ymEo9520lyoVOo9jCQOCA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" integrity="sha512-ZKX+BvQihRJPA8CROKBhDNvoc2aDMOdAlcm7TUQY+35XYtrd3yh95QOOhsPDQY9QnKE0Wqag9y38OIgEvb88cA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @*JQUERY *@
    @*<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>*@
    @*paymentez version*@
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>


    @*paymentez*@
    <link href="https://cdn.paymentez.com/ccapi/sdk/payment_stable.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.paymentez.com/ccapi/sdk/payment_stable.min.js" charset="UTF-8"></script>

    @*Estrellas para el servicio*@
    @Styles.Render("https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.1/css/font-awesome.css" integrity="sha512-bf5lgyUrZOfPh94XyXFK4+2062lAMQFAfxUTVkOAHZ7R3XQ0tY+TUSkbqt8sjFsq0hVMKvGT/1P39c+vKwesTQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!--<!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <!-- Sweetalert import-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>

    @*FAvicon aqui*@
    <link rel="shortcut icon" href="~/Imagenes/Verte Bien Transparente 1.png">
    @* FiN del FAvicon *@
    <style>
        .navbar-nav {
            margin-left: auto;
            margin-right: auto;
        }
    </style>

</head>
<body>

    <!--Mensaje de cookies  -->
    <div class="aviso-cookies" id="aviso-cookies">
        <img class="galleta" src="~/Imagenes/Verte Bien Transparente 2.png" alt="Galleta">
        <h3 class="titulo">Cookies</h3>
        <p class="parrafo">Utilizamos cookies propias y de terceros para mejorar nuestros servicios.</p>
        <button class="boton" id="btn-aceptar-cookies">De acuerdo</button>
        <a class="enlace" href="aviso-cookies.html">Aviso de Cookies</a>
    </div>
    <div class="fondo-aviso-cookies" id="fondo-aviso-cookies"></div>

    @*<nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/SERVICIOS/Index"><img src="~/Imagenes/verte-bien-logo-sin-eslogan.png" alt="" class="d-inline-block align-text-top mx-3"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav" style="font-size:15px">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="/SERVICIOS/Index">INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/Home/About">ACERCA DE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/Home/Membresias">MEMBRESIAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">TENDENCIAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/SERVICIOS/Index">SERVICIOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">CITAS</a>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    SERVICIOS
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">CONTACTO</a>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>*@

    @*<div class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle d-sm d-md-none" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="navbar-toggler"><i class="fas fa-bars"></i></span>
                    </button>
                    @Html.ActionLink("Nombre de la aplicación", "Index", "SERVICIOS", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="margin-left:12%">
                        <li class="mx-2">@Html.ActionLink("Inicio", "Index", "SERVICIOS", new { area = "" }, new { @style = "text-decoration:none" })</li>
                        <li class="mx-2">@Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @style = "text-decoration:none" })</li>
                        <li class="mx-2">@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @style = "text-decoration:none" })</li>
                        <li class="mx-2">@Html.ActionLink("Ver Membresias", "Membresias", "Home", new { area = "" }, new { @style = "text-decoration:none" })</li>
                        <li class="mx-2">@Html.ActionLink("Crear Servicios", "Create", "SERVICIOS", new { area = "" }, new { @style = "text-decoration:none" })</li>

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@


    @*-------NUEVO MENU DE NAVEGACION-------------------*@

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/SERVICIOS/Index"><img src="~/Imagenes/Verte Bien Transparente 1.png" width="64px" height="64px" alt="" class="d-inline-block align-text-top mx-3"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" style="font-size:15px">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/SERVICIOS/Index">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/Home/Membresias">MEMBRESIAS</a>
                    </li>
                    @*@if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/SERVICIOS/Index">SERVICIOS</a>
                    </li>
                }*@
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">TENDENCIAS</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                SERVICIOS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/SERVICIOS/misServicios">MIS SERVICIOS</a></li>
                                <li><a class="dropdown-item" href="/SERVICIOS/Create">AGREGAR SERVICIO</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                CITAS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/CITAS/Index">MIS CITAS</a></li>
                                <li><a class="dropdown-item" href="/CITAS/Create">AGREGAR CITA</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/CITAS/contabilidad">CONTABILIDAD</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">CONTACTO</a>
                    </li>
                </ul>

                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </nav>




    <div class="">
        @RenderBody()
    </div>

    <footer class="text-center text-lg-start bg-dark text-white">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Conéctate con nosotros en las redes sociales:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="https://www.facebook.com/Verte-Bien-601258597201840/" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/VerteBien_FC?t=hsk78p6NnVBjdiQXK3Plug&s=08" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/vertebien_ec/?utm_medium=copy_link" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-cut me-3"></i> Verte Bien
                        </h6>
                        <p style="text-align:justify">
                            Somos una empresa donde puedes registrar tu negocio del sector estetico, ofrecer tus servicios y adquirir clientes vía nuestra página web.
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Menú
                        </h6>
                        <p>
                            <a href="/SERVICIOS/Index" class="text-reset" style="text-decoration:none">Inicio</a>
                        </p>
                        <p>
                            <a href="/Home/Membresias" class="text-reset" style="text-decoration:none">Membresías</a>
                        </p>
                        <p>
                            <a href="/Account/Register" class="text-reset" style="text-decoration:none">Registra tu negocio</a>>
                        </p>
                        <p>
                            <a href="/Account/RegisterUser" class="text-reset" style="text-decoration:none">Registrate como cliente</a>
                        </p>
                    </div>

                    @*<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">                  
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>*@

                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contactos
                        </h6>
                        <p><i class="fas fa-home me-1"></i> Ecuador </p>
                        <p>
                            <i class="fas fa-envelope me-1"></i>
                            <a href="mailto:Informaciones@vertebien.net" style="text-decoration:none">Informaciones@vertebien.net</a>
                        </p>
                        @*<p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>*@
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="#">Vertebien.com</a>
            <a class="text-reset fw-bold" href="#">Powered By Geekweb</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/tilt.jquery.min.js")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    @Scripts.Render("~/Scripts/js.js")
    @Scripts.Render("~/Scripts/lightbox.js")
    @*@Scripts.Render("~/bundles/bootstrap")*@

    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
