@model IEnumerable<VerteBienV1.Models.CITAS>

@{
    ViewBag.Title = "Lista de citas";
}

<center>
    <img src="~/Imagenes/Verte Bien Transparente 2.png" width="128" height="128" style="margin-top:2%" />
    <h4>Lista de citas</h4>
    <hr class="w-50" /><br />
</center>

   
        @using (Html.BeginForm("Index", "CITAS", FormMethod.Get))
        {
            if (User.IsInRole("expres") || User.IsInRole("preferencial") || User.IsInRole("vip"))
            {
    <div class="container">
        <div class="row row-cols-lg-12 g-2 align-content-center">
            <div class="col-md-4 col-12 ">
                <button type="submit" class="btn col-12 text-white" style="background-color:#DBA312">Filtrar</button>
            </div>
            <div class="col-md-8 col-12 ">
                <select class="form-control" style="" name="estatusCitasSelec">
                    <option>Filtrar por el estado de la cita</option>
                    <option value="pendiente">Pendientes</option>
                    <option value="aceptado">Aceptadas</option>
                    <option value="cancelado">Canceladas</option>
                </select>

            </div>

        </div>
    </div>


            }
        }
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {<div class="container col-12 col-lg-6 d-flex">

                 <div class="card shadow my-4  cf">
                     <div class="card-header row" style="margin-left: 1px;">
                         <h4 class="card-title col-8 text-capitalize col-7"> @Html.DisplayFor(modelItem => item.SERVICIOS.nombre_servicio)</h4>
                         <h6 class="card-title col-4"><b>Estado de la cita: </b> <span class="text-success">@Html.DisplayFor(modelItem => item.estado)</span></h6>
                     </div>
                     <div class="card-body col-12 p-4 ">
                         <ul class="list-group list-group-flush">
                             <li class="list-group-item"><strong>Cliente: </strong>@Html.DisplayFor(modelItem => item.AspNetUsers.Email) </li>
                             <li class="list-group-item"><b>Fecha de la cita: </b>@Html.DisplayFor(modelItem => item.fecha_cita) </li>
                             <li class="list-group-item mb-2"><b>Comentario: </b>@Html.DisplayFor(modelItem => item.comentario_cliente) </li>
                         </ul>
                         <br />
                         <textarea readonly class="col-12 " rows="3" cols="15" style="resize: none; padding: 0.5rem 1rem;">@Html.DisplayFor(modelItem => item.SERVICIOS.descripcion) </textarea>
                     </div>
                     <p class="" style="padding:1.5rem 2rem;"><b>Precio: </b>@Html.DisplayFor(modelItem => item.SERVICIOS.precio_servicio)</p>
                     <div class=" row p-4 text-end">

                         @if (User.IsInRole("expres") || User.IsInRole("preferencial") || User.IsInRole("vip"))
                         {
                             if (item.estado == "aceptado")
                             {
                                 @Html.ActionLink("Completar Cita", "EstatusCita", "CITAS", new { id = item.id_cita, estatus = "completado" }, htmlAttributes: new { @class = "btn text-white cbtn", @style = "background-color:#DBA312" })
                             }
                             else
                             {
                                 @Html.ActionLink("Aceptar cita", "EstatusCita", "CITAS", new { id = item.id_cita, estatus = "aceptado" }, htmlAttributes: new { @class = "btn text-white cbtn", @style = "background-color:#DBA312" })
                             }
                         }
                         @Html.ActionLink("Cancelar", "EstatusCita", "CITAS", new { id = item.id_cita, estatus = "cancelado" }, htmlAttributes: new { @class = "btn text-white  my-2 my-md-0 cbtn", @style = "background-color:#DBA312" })
                         @Html.ActionLink("Comentar", "Edit", "CITAS", new { id = item.id_cita }, htmlAttributes: new { @class = "btn text-white cbtn", @style = "background-color:#DBA312" })
                     </div>

                 </div>
                </div>








            }

        </div>
    </div>



@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha_creacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_cita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SERVICIOS.id_servicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SERVICIOS.id_usuario)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_cita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SERVICIOS.id_servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SERVICIOS.id_usuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id_cita }) |
            @Html.ActionLink("Details", "Details", new { id = item.id_cita }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id_cita })
        </td>
    </tr>
    }

    </table>*@
