@model VerteBienV1.Models.HORARIOS

@{
    ViewBag.Title = "Registrar Horarios";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <center>
        <img src="~/Imagenes/Verte Bien Transparente 2.png" width="128" height="128" style="margin-top:2%" />
        <h4>Establecer horario de trabajo</h4>
        <hr class="w-50" />
    </center>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
            @Html.LabelFor(model => model.id_usuario, "id_usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_usuario", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_usuario, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*Semanales Inicio*@
    <div class="container">
        <div class="card h-100 shadow-lg">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        @Html.Label("Horario de apertura días semanales", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            <select name="semanales_inicio" id="cars" class="form-control">
                                <option value="7" type="number" step="any">7:00AM</option>
                                <option value="7,50">7:30AM</option>
                                <option value="8">8:00AM</option>
                                <option value="8,5">8:30AM</option>
                                <option value="9">9:00AM</option>
                                <option value="9,50">9:30AM</option>
                                <option value="10">10:00AM</option>
                                <option value="10,50">10:30AM</option>
                                <option value="11">11:00AM</option>
                                <option value="11,50">11:30AM</option>
                                <option value="12">12:00PM</option>
                                <option value="12,50">12:30PM</option>
                                <option value="13">13:00PM</option>
                                <option value="13,50">13:30PM</option>
                                <option value="14">14:00PM</option>
                                <option value="14,50">14:30PM</option>
                                <option value="15">15:00PM</option>
                                <option value="15,50">15:30PM</option>
                                <option value="16">16:00PM</option>
                                <option value="16,50">16:30PM</option>
                                <option value="17">17:00PM</option>
                                <option value="17,50">17:30PM</option>
                                <option value="18">18:00PM</option>
                                <option value="18,50">18:30PM</option>
                                <option value="19">19:00PM</option>
                                <option value="19,50">19:30PM</option>
                                <option value="20">20:00PM</option>
                                <option value="20,50">20:30PM</option>
                                <option value="21">21:00PM</option>
                                <option value="21,50">21:30PM</option>
                            </select>
                        </div>
                    </div>
                    @*Sabados Inicio*@
                    <div class="form-group col-md-4">
                        @Html.Label("Horario de apertura los sábados", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            <select name="sabados_inicio" id="cars" class="form-control">
                                <option value="7" type="number" step="any">7:00AM</option>
                                <option value="7,50">7:30AM</option>
                                <option value="8">8:00AM</option>
                                <option value="8,5">8:30AM</option>
                                <option value="9">9:00AM</option>
                                <option value="9,50">9:30AM</option>
                                <option value="10">10:00AM</option>
                                <option value="10,50">10:30AM</option>
                                <option value="11">11:00AM</option>
                                <option value="11,50">11:30AM</option>
                                <option value="12">12:00PM</option>
                                <option value="12,50">12:30PM</option>
                                <option value="13">13:00PM</option>
                                <option value="13,50">13:30PM</option>
                                <option value="14">14:00PM</option>
                                <option value="14,50">14:30PM</option>
                                <option value="15">15:00PM</option>
                                <option value="15,50">15:30PM</option>
                                <option value="16">16:00PM</option>
                                <option value="16,50">16:30PM</option>
                                <option value="17">17:00PM</option>
                                <option value="17,50">17:30PM</option>
                                <option value="18">18:00PM</option>
                                <option value="18,50">18:30PM</option>
                                <option value="19">19:00PM</option>
                                <option value="19,50">19:30PM</option>
                                <option value="20">20:00PM</option>
                                <option value="20,50">20:30PM</option>
                                <option value="21">21:00PM</option>
                                <option value="21,50">21:30PM</option>
                            </select>
                        </div>
                    </div>
                    @*Domingos Inicio*@
                    <div class="form-group col-md-4">
                        @Html.Label("Horario de apertura los domingos", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            <select name="domingo_inicio" id="cars" class="form-control">
                                <option value="7" type="number" step="any">7:00AM</option>
                                <option value="7,50">7:30AM</option>
                                <option value="8">8:00AM</option>
                                <option value="8,5">8:30AM</option>
                                <option value="9">9:00AM</option>
                                <option value="9,50">9:30AM</option>
                                <option value="10">10:00AM</option>
                                <option value="10,50">10:30AM</option>
                                <option value="11">11:00AM</option>
                                <option value="11,50">11:30AM</option>
                                <option value="12">12:00PM</option>
                                <option value="12,50">12:30PM</option>
                                <option value="13">13:00PM</option>
                                <option value="13,50">13:30PM</option>
                                <option value="14">14:00PM</option>
                                <option value="14,50">14:30PM</option>
                                <option value="15">15:00PM</option>
                                <option value="15,50">15:30PM</option>
                                <option value="16">16:00PM</option>
                                <option value="16,50">16:30PM</option>
                                <option value="17">17:00PM</option>
                                <option value="17,50">17:30PM</option>
                                <option value="18">18:00PM</option>
                                <option value="18,50">18:30PM</option>
                                <option value="19">19:00PM</option>
                                <option value="19,50">19:30PM</option>
                                <option value="20">20:00PM</option>
                                <option value="20,50">20:30PM</option>
                                <option value="21">21:00PM</option>
                                <option value="21,50">21:30PM</option>
                            </select>
                        </div>
                    </div>
                    @*Semanales Cierre*@
                    <div class="form-group col-md-4">
                        @Html.Label("Horario de cierre días semanales", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            <select name="semanales_cierre" id="cars" class="form-control">
                                <option value="7" type="number" step="any">7:00AM</option>
                                <option value="7,50">7:30AM</option>
                                <option value="8">8:00AM</option>
                                <option value="8,5">8:30AM</option>
                                <option value="9">9:00AM</option>
                                <option value="9,50">9:30AM</option>
                                <option value="10">10:00AM</option>
                                <option value="10,50">10:30AM</option>
                                <option value="11">11:00AM</option>
                                <option value="11,50">11:30AM</option>
                                <option value="12">12:00PM</option>
                                <option value="12,50">12:30PM</option>
                                <option value="13">13:00PM</option>
                                <option value="13,50">13:30PM</option>
                                <option value="14">14:00PM</option>
                                <option value="14,50">14:30PM</option>
                                <option value="15">15:00PM</option>
                                <option value="15,50">15:30PM</option>
                                <option value="16">16:00PM</option>
                                <option value="16,50">16:30PM</option>
                                <option value="17">17:00PM</option>
                                <option value="17,50">17:30PM</option>
                                <option value="18">18:00PM</option>
                                <option value="18,50">18:30PM</option>
                                <option value="19">19:00PM</option>
                                <option value="19,50">19:30PM</option>
                                <option value="20">20:00PM</option>
                                <option value="20,50">20:30PM</option>
                                <option value="21">21:00PM</option>
                                <option value="21,50">21:30PM</option>
                            </select>
                        </div>
                    </div>
                    @*Sabados Cierre*@
                    <div class="form-group col-md-4">
                        @Html.Label("Horario de cierre los sábados", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            <select name="sabados_cierre" id="cars" class="form-control">
                                <option value="7" type="number" step="any">7:00AM</option>
                                <option value="7,50">7:30AM</option>
                                <option value="8">8:00AM</option>
                                <option value="8,5">8:30AM</option>
                                <option value="9">9:00AM</option>
                                <option value="9,50">9:30AM</option>
                                <option value="10">10:00AM</option>
                                <option value="10,50">10:30AM</option>
                                <option value="11">11:00AM</option>
                                <option value="11,50">11:30AM</option>
                                <option value="12">12:00PM</option>
                                <option value="12,50">12:30PM</option>
                                <option value="13">13:00PM</option>
                                <option value="13,50">13:30PM</option>
                                <option value="14">14:00PM</option>
                                <option value="14,50">14:30PM</option>
                                <option value="15">15:00PM</option>
                                <option value="15,50">15:30PM</option>
                                <option value="16">16:00PM</option>
                                <option value="16,50">16:30PM</option>
                                <option value="17">17:00PM</option>
                                <option value="17,50">17:30PM</option>
                                <option value="18">18:00PM</option>
                                <option value="18,50">18:30PM</option>
                                <option value="19">19:00PM</option>
                                <option value="19,50">19:30PM</option>
                                <option value="20">20:00PM</option>
                                <option value="20,50">20:30PM</option>
                                <option value="21">21:00PM</option>
                                <option value="21,50">21:30PM</option>
                            </select>
                        </div>
                    </div>

                    @*Domingos Cierre*@
                    <div class="form-group col-md-4">
                        @Html.Label("Horario de cierre los domingos", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            <select name="domingo_cierre" id="cars" class="form-control">
                                <option value="7" type="number" step="any">7:00AM</option>
                                <option value="7,50">7:30AM</option>
                                <option value="8">8:00AM</option>
                                <option value="8,5">8:30AM</option>
                                <option value="9">9:00AM</option>
                                <option value="9,50">9:30AM</option>
                                <option value="10">10:00AM</option>
                                <option value="10,50">10:30AM</option>
                                <option value="11">11:00AM</option>
                                <option value="11,50">11:30AM</option>
                                <option value="12">12:00PM</option>
                                <option value="12,50">12:30PM</option>
                                <option value="13">13:00PM</option>
                                <option value="13,50">13:30PM</option>
                                <option value="14">14:00PM</option>
                                <option value="14,50">14:30PM</option>
                                <option value="15">15:00PM</option>
                                <option value="15,50">15:30PM</option>
                                <option value="16">16:00PM</option>
                                <option value="16,50">16:30PM</option>
                                <option value="17">17:00PM</option>
                                <option value="17,50">17:30PM</option>
                                <option value="18">18:00PM</option>
                                <option value="18,50">18:30PM</option>
                                <option value="19">19:00PM</option>
                                <option value="19,50">19:30PM</option>
                                <option value="20">20:00PM</option>
                                <option value="20,50">20:30PM</option>
                                <option value="21">21:00PM</option>
                                <option value="21,50">21:30PM</option>
                            </select>
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.semanales_inicio, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.semanales_inicio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.semanales_inicio, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.semanales_cierre, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.semanales_cierre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.semanales_cierre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.sabados_inicio, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.sabados_inicio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.sabados_inicio, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.sabados_cierre, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.sabados_cierre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.sabados_cierre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.domingo_inicio, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.domingo_inicio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.domingo_inicio, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.domingo_cierre, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.domingo_cierre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.domingo_cierre, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                </div>
                <center>
                    <div class="form-group col-md-12">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn text-white" style="background-color:#DBA312; margin-top:2%">Guardar Horario</button>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>





}
<br />
<div class="modal" tabindex="-1" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Verificar formulario
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="p-modal">Por favor verificar que los datos del formulario esten correcto. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@ViewBag.respuesta aqui 

<p class="d-none" id="p-respuesta" data-respuesta="@ViewBag.respuesta"></p>
<script>
    console.log("Esto es una prueba y los rsultados son:" + "@ViewBag.respuesta");

    window.onload = function () {

        console.log("function called...");
        var parrafo = $('#p-modal');
        var respuesta = $('#p-respuesta').data('respuesta');
        if (respuesta == "horario") {

            parrafo.text('Por favor verificar que los datos del formulario esten correcto, no hay horario registrado' );
            $('#modal').modal('show');

        }



    }
</script>

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
